In [1]:
import keyring
from pprint import pprint

api_key_irp = keyring.get_password("irp_api_key", "birdblues")
api_secret_irp = keyring.get_password("irp_api_secret", "birdblues")

api_key_isa = keyring.get_password("isa_api_key", "birdblues")
api_secret_isa = keyring.get_password("isa_api_secret", "birdblues")

api_key_0 = keyring.get_password("api_key_0", "birdblues")
api_secret_0 = keyring.get_password("api_secret_0","birdblues")

api_key_1 = keyring.get_password("api_key_1", "birdblues")
api_secret_1 = keyring.get_password("api_secret_1","birdblues")

api_key_2 = keyring.get_password("api_key_2", "birdblues")
api_secret_2 = keyring.get_password("api_secret_2","birdblues")

# print(f"api_key_irp = {api_key_irp}")
# print(f"api_secret_irp = {api_secret_irp}")
# print(f"api_key_isa = {api_key_isa}")
# print(f"api_secret_isa = {api_secret_isa}")
# print(f"api_key_0 = {api_key_0}")
# print(f"api_secret_0 = {api_secret_0}")
# print(f"api_key_1 = {api_key_1}")
# print(f"api_secret_1 = {api_secret_1}")
# print(f"api_key_2 = {api_key_2}")
# print(f"api_secret_2 = {api_secret_2}")

In [2]:
acc_no_0 = "63981494-01" # 위탁
acc_no_1 = "64267316-22" # 연금저축 1
acc_no_2 = "64012548-22" # 연금저축 2
acc_no_isa = "64043278-01" # ISA
acc_no_irp = "64012548-29" # IRP

In [3]:
import keyring

token_0 = keyring.get_password("access_token_0", "birdblues")
token_1 = keyring.get_password("access_token_1", "birdblues")
token_2 = keyring.get_password("access_token_2", "birdblues")
token_3 = keyring.get_password("access_token_3", "birdblues")
token_4 = keyring.get_password("access_token_4", "birdblues")

# print(f"token_0 = {token_0}")
# print(f"token_1 = {token_1}")
# print(f"token_2 = {token_2}")
# print(f"token_3 = {token_3}")
# print(f"token_4 = {token_4}")

In [4]:
import requests
import json

def get_balance(access_token, app_key, app_secret, acc_no):
    
    url_base = "https://openapi.koreainvestment.com:9443"
    path = "/uapi/domestic-stock/v1/trading/inquire-balance"
    url = f"{url_base}/{path}"

    headers = {
        "Content-Type": "application/json; charset=utf-8",
        "authorization": f"Bearer {access_token}",
        "appKey": app_key,
        "appSecret": app_secret,
        "tr_id": "TTTC8434R"
    }

    params = {
        "CANO": acc_no[:8],  # 계좌번호 앞 8지리
        "ACNT_PRDT_CD": acc_no[-2:],  # 계좌번호 뒤 2자리
        "AFHR_FLPR_YN": "N",  # 시간외단일가여부
        "OFL_YN": "",  # 공란
        "INQR_DVSN": "01",  # 조회구분
        "UNPR_DVSN": "01",  # 단가구분
        "FUND_STTL_ICLD_YN": "N",  # 펀드결제분포함여부
        "FNCG_AMT_AUTO_RDPT_YN": "N",  # 융자금액자동상환여부        
        "PRCS_DVSN": "00",  # 처리구분(00: 전일매매포함)
        "CTX_AREA_FK100": "",  # 연속조회검색조건
        "CTX_AREA_NK100": ""  # 연속조회키
    }
    res = requests.get(url, headers=headers, params=params)
    return res.json()

In [5]:
def get_balance_irp(access_token, app_key, app_secret, acc_no):
    
    url_base = "https://openapi.koreainvestment.com:9443"
    path = "/uapi/domestic-stock/v1/trading/pension/inquire-balance"
    url = f"{url_base}/{path}"

    headers = {
        "Content-Type": "application/json; charset=utf-8",
        "authorization": f"Bearer {access_token}",
        "appKey": app_key,
        "appSecret": app_secret,
        "tr_id": "TTTC2208R"
    }

    params = {
        "CANO": acc_no[:8],  # 계좌번호 앞 8지리
        "ACNT_PRDT_CD": acc_no[-2:],  # 계좌번호 뒤 2자리
        "ACCA_DVSN_CD":"00",
        "INQR_DVSN":"00",
        "CTX_AREA_FK100": "",  # 연속조회검색조건
        "CTX_AREA_NK100": ""  # 연속조회키
    }
    res = requests.get(url, headers=headers, params=params)
    return res.json()

In [6]:
json_0 = get_balance(token_0, api_key_0, api_secret_0, acc_no_0)
json_1 = get_balance(token_1, api_key_1, api_secret_1, acc_no_1)
json_2 = get_balance(token_2, api_key_2, api_secret_2, acc_no_2)
json_3 = get_balance(token_3, api_key_isa, api_secret_isa, acc_no_isa)
json_4 = get_balance_irp(token_4, api_key_irp, api_secret_irp, acc_no_irp)
json_4

{'ctx_area_fk100': '64012548^29^00^00^                                                                                  ',
 'ctx_area_nk100': '                                                                                                    ',
 'output1': [{'cblc_dvsn_name': '사용자',
   'prdt_name': 'KODEX 차이나CSI300',
   'pdno': '283580',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '0',
   'hldg_qty': '22',
   'ord_psbl_qty': '22',
   'pchs_avg_pric': '10110.9091',
   'pchs_amt': '222440',
   'prpr': '9865',
   'evlu_amt': '217030',
   'evlu_pfls_amt': '-5410',
   'evlu_erng_rt': '-2.43211653'},
  {'cblc_dvsn_name': '사용자',
   'prdt_name': 'KODEX 200미국채혼합',
   'pdno': '284430',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '0',
   'hldg_qty': '42',
   'ord_psbl_qty': '42',
   'pchs_avg_pric': '12622.7619',
   'pchs_amt': '530156',
   'prpr': '12760',
   'evlu_amt': '535920',
   'evlu_pfls_amt': '5764',
   'evlu_erng_rt': '1.08722716'},
  {'cblc_dvsn_name': '사용자',
   'prdt_name': 'ACE 미국S&P500',
   'pdno': '360200',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '0',
   'hldg_qty': '96',
   'ord_psbl_qty': '96',
   'pchs_avg_pric': '17306.0208',
   'pchs_amt': '1661378',
   'prpr': '18495',
   'evlu_amt': '1775520',
   'evlu_pfls_amt': '114142',
   'evlu_erng_rt': '6.87032090'},
  {'cblc_dvsn_name': '사용자',
   'prdt_name': 'ACE 국고채10년',
   'pdno': '365780',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '0',
   'hldg_qty': '3',
   'ord_psbl_qty': '3',
   'pchs_avg_pric': '87121.6667',
   'pchs_amt': '261365',
   'prpr': '91555',
   'evlu_amt': '274665',
   'evlu_pfls_amt': '13300',
   'evlu_erng_rt': '5.08866910'},
  {'cblc_dvsn_name': '사용자',
   'prdt_name': 'ACE KRX금현물',
   'pdno': '411060',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '0',
   'hldg_qty': '351',
   'ord_psbl_qty': '351',
   'pchs_avg_pric': '15069.1994',
   'pchs_amt': '5289289',
   'prpr': '15455',
   'evlu_amt': '5424705',
   'evlu_pfls_amt': '135416',
   'evlu_erng_rt': '2.56019287'},
  {'cblc_dvsn_name': '사용자',
   'prdt_name': 'TIGER KOFR금리액티브(합성)',
   'pdno': '449170',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '0',
   'hldg_qty': '61',
   'ord_psbl_qty': '61',
   'pchs_avg_pric': '105742.2295',
   'pchs_amt': '6450276',
   'prpr': '106515',
   'evlu_amt': '6497415',
   'evlu_pfls_amt': '47139',
   'evlu_erng_rt': '0.73080594'},
  {'cblc_dvsn_name': '사용자',
   'prdt_name': 'ACE 미국달러SOFR금리(합성)',
   'pdno': '456880',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '0',
   'hldg_qty': '490',
   'ord_psbl_qty': '490',
   'pchs_avg_pric': '10957.0163',
   'pchs_amt': '5368938',
   'prpr': '10880',
   'evlu_amt': '5331200',
   'evlu_pfls_amt': '-37738',
   'evlu_erng_rt': '-0.70289506'},
  {'cblc_dvsn_name': '사용자',
   'prdt_name': 'RISE 25-03 회사채(AA-이상)액티브',
   'pdno': '464540',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '0',
   'hldg_qty': '167',
   'ord_psbl_qty': '167',
   'pchs_avg_pric': '50940.3293',
   'pchs_amt': '8507035',
   'prpr': '51050',
   'evlu_amt': '8525350',
   'evlu_pfls_amt': '18315',
   'evlu_erng_rt': '0.21529240'},
  {'cblc_dvsn_name': '사용자',
   'prdt_name': 'KODEX iShares미국하이일드액티브',
   'pdno': '468380',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '0',
   'hldg_qty': '280',
   'ord_psbl_qty': '280',
   'pchs_avg_pric': '10893.7500',
   'pchs_amt': '3050250',
   'prpr': '10855',
   'evlu_amt': '3039400',
   'evlu_pfls_amt': '-10850',
   'evlu_erng_rt': '-0.35570855'},
  {'cblc_dvsn_name': '사용자',
   'prdt_name': 'RISE 글로벌리얼티인컴',
   'pdno': '475380',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '0',
   'hldg_qty': '158',
   'ord_psbl_qty': '158',
   'pchs_avg_pric': '10357.1203',
   'pchs_amt': '1636425',
   'prpr': '10685',
   'evlu_amt': '1688230',
   'evlu_pfls_amt': '51805',
   'evlu_erng_rt': '3.16574240'},
  {'cblc_dvsn_name': '사용자',
   'prdt_name': 'KODEX 미국배당다우존스',
   'pdno': '489250',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '0',
   'hldg_qty': '101',
   'ord_psbl_qty': '101',
   'pchs_avg_pric': '10132.0297',
   'pchs_amt': '1023335',
   'prpr': '10155',
   'evlu_amt': '1025655',
   'evlu_pfls_amt': '2320',
   'evlu_erng_rt': '0.22670973'}],
 'output2': {'dnca_tot_amt': '5256',
  'nxdy_excc_amt': '5256',
  'prvs_rcdl_excc_amt': '94941',
  'thdt_buy_amt': '0',
  'thdt_sll_amt': '89685',
  'thdt_tlex_amt': '0',
  'scts_evlu_amt': '34335090',
  'tot_evlu_amt': '34430031'},
 'rt_cd': '0',
 'msg_cd': 'KIOK0510',
 'msg1': '조회가 완료되었습니다                                                           '}

In [7]:
import pandas as pd

pd.options.display.float_format = '{:.2f}'.format

def get_balance_json(json):
    cash = json['output2'][0]['prvs_rcdl_excc_amt']
    ap = pd.DataFrame.from_records(json['output1'])
    if(ap.size > 0):
        ap = ap[["pdno", "prdt_name", "evlu_amt", "prpr", "hldg_qty", "pchs_amt", "pchs_avg_pric", "evlu_pfls_rt"]]
        ap.columns = ["코드", "이름", "평가금액", "단가", "수량", "매입금액", "매입단가", "수익률"]
        new_row = {"코드": "0", "이름": "현금", "평가금액": cash, "단가": 1, "수량": cash, "매입금액": cash, "매입단가": 1, "수익률": 0}
        new_row_df = pd.DataFrame([new_row])

        # concat을 사용하여 새로운 행 추가
        ap = pd.concat([ap, new_row_df], ignore_index=True)
        
        # 데이터 타입 변환
        ap["평가금액"] = pd.to_numeric(ap["평가금액"], errors='coerce')
        ap["매입금액"] = pd.to_numeric(ap["매입금액"], errors='coerce')
        ap["단가"] = pd.to_numeric(ap["단가"], errors='coerce')
        ap["매입단가"] = pd.to_numeric(ap["매입단가"], errors='coerce')
        ap["수량"] = pd.to_numeric(ap["수량"], errors='coerce')
        ap["수익률"] = pd.to_numeric(ap["수익률"], errors='coerce')
        ap["계좌"] = json['ctx_area_fk100'][:8] + '-' + json['ctx_area_fk100'][9:11]
    return ap

In [8]:
import pandas as pd


def get_balance_json_irp(json):
    cash = json['output2']['prvs_rcdl_excc_amt']
    ap = pd.DataFrame.from_records(json['output1'])
    if(ap.size > 0):
        ap = ap[["pdno", "prdt_name", "evlu_amt", "prpr", "hldg_qty", "pchs_amt", "pchs_avg_pric", "evlu_erng_rt"]]
        ap.columns = ["코드", "이름", "평가금액", "단가", "수량", "매입금액", "매입단가", "수익률"]
        new_row = {"코드": "0", "이름": "현금", "평가금액": cash, "단가": 1, "수량": cash, "매입금액": cash, "매입단가": 1, "수익률": 0}
        new_row_df = pd.DataFrame([new_row])

        # concat을 사용하여 새로운 행 추가
        ap = pd.concat([ap, new_row_df], ignore_index=True)

        # 데이터 타입 변환
        ap["평가금액"] = pd.to_numeric(ap["평가금액"], errors='coerce')
        ap["매입금액"] = pd.to_numeric(ap["매입금액"], errors='coerce')
        ap["단가"] = pd.to_numeric(ap["단가"], errors='coerce')
        ap["매입단가"] = pd.to_numeric(ap["매입단가"], errors='coerce')
        ap["수량"] = pd.to_numeric(ap["수량"], errors='coerce')
        ap["수익률"] = pd.to_numeric(ap["수익률"], errors='coerce')
        ap["계좌"] = json['ctx_area_fk100'][:8] + '-' + json['ctx_area_fk100'][9:11]
    return ap

In [9]:
df_0 = get_balance_json(json_0)
df_1 = get_balance_json(json_1)
df_2 = get_balance_json(json_2)
df_3 = get_balance_json(json_3)
df_4 = get_balance_json_irp(json_4)
df = pd.concat([df_0, df_1, df_2, df_3, df_4], ignore_index=True)
# df_0 = df_0.sort_values(by='이름')
df_1 = df_1.sort_values(by='이름')
df_2 = df_2.sort_values(by='이름')
df_3 = df_3.sort_values(by='이름')
df_4 = df_4.sort_values(by='이름')

total_1 = df_1["평가금액"].sum()
total_2 = df_2["평가금액"].sum()
total_3 = df_3["평가금액"].sum()
total_4 = df_4["평가금액"].sum()

In [10]:
df_1["비중"] = df_1["평가금액"] / total_1 * 100
df_1

,코드,이름,평가금액,단가,수량,매입금액,매입단가,수익률,계좌,비중
3,411060,ACE KRX금현물,8392065,15455,543,8142151,14994.75,3.06,64267316-22,17.10
11,476750,ACE 미국30년국채엔화노출액티브(H),424400,10610,40,360665,9016.62,17.67,64267316-22,0.86
1,360200,ACE 미국S&P500,5603985,18495,303,5330680,17593.00,5.12,64267316-22,11.42
6,456880,ACE 미국달러SOFR금리(합성),3264000,10880,300,3252692,10842.31,0.34,64267316-22,6.65
12,480020,ACE 미국빅테크7+ 15%프리미엄분배(합성),1017500,10175,100,1174723,11747.23,-13.38,64267316-22,2.07
8,468380,KODEX iShares미국하이일드액티브,2062450,10855,190,2070850,10899.21,-0.40,64267316-22,4.20
5,453810,KODEX 인도Nifty50,1105600,13820,80,1080800,13510.00,2.29,64267316-22,2.25
7,464540,RISE 25-03 회사채(AA-이상)액티브,2399350,51050,47,2394495,50946.70,0.20,64267316-22,4.89
10,475380,RISE 글로벌리얼티인컴,908225,10685,85,893675,10513.82,1.62,64267316-22,1.85
9,473330,SOL 미국30년국채커버드콜(합성),10250240,10240,1001,9694000,9684.32,5.73,64267316-22,20.89
4,446720,SOL 미국배당다우존스,5422500,10845,500,5298622,10597.24,2.33,64267316-22,11.05
2,396500,TIGER Fn반도체TOP10,0,9770,0,0,0.00,0.00,64267316-22,0.00
13,482730,TIGER 미국S&P500+10%프리미엄초단기,7573500,9900,765,7921005,10354.25,-4.38,64267316-22,15.43
0,329750,TIGER 미국달러단기채권액티브,242200,12110,20,239725,11986.25,1.03,64267316-22,0.49
14,0,현금,408289,1,408289,408289,1.00,0.00,64267316-22,0.83

In [11]:
total_1

49074304

In [12]:
df_2

,코드,이름,평가금액,단가,수량,매입금액,매입단가,수익률,계좌
3,411060,ACE KRX금현물,3091000,15455,200,3088150,15440.75,0.09,64012548-22
1,360200,ACE 미국S&P500,1405620,18495,76,1338800,17615.79,4.99,64012548-22
6,456880,ACE 미국달러SOFR금리(합성),1088000,10880,100,1078883,10788.83,0.84,64012548-22
2,390390,KODEX 미국반도체MV,421575,20075,21,434120,20672.38,-2.88,64012548-22
10,483230,RISE 25-06 은행채(AA+이상)액티브,1867575,50475,37,1858510,50230.00,0.48,64012548-22
9,475380,RISE 글로벌리얼티인컴,42740,10685,4,42020,10505.00,1.71,64012548-22
7,469050,RISE 미국반도체NYSE(H),476640,13240,36,477917,13275.47,-0.26,64012548-22
8,473330,SOL 미국30년국채커버드콜(합성),1024000,10240,100,1014527,10145.27,0.93,64012548-22
4,446720,SOL 미국배당다우존스,520560,10845,48,514840,10725.83,1.11,64012548-22
5,449170,TIGER KOFR금리액티브(합성),2130300,106515,20,2116370,105818.50,0.65,64012548-22
0,329750,TIGER 미국달러단기채권액티브,1029350,12110,85,1013038,11918.09,1.61,64012548-22
11,0,현금,22977,1,22977,22977,1.00,0.00,64012548-22

In [13]:
total_2

13120337

In [14]:
df_3

,코드,이름,평가금액,단가,수량,매입금액,매입단가,수익률,계좌
4,411060,ACE KRX금현물,1545500,15455,100,1503547,15035.47,2.79,64043278-01
1,218420,KODEX 미국S&P500에너지(합성),1328580,13420,99,1323760,13371.31,0.36,64043278-01
0,114800,KODEX 인버스,1130000,4520,250,1023143,4092.57,10.44,64043278-01
3,396500,TIGER Fn반도체TOP10,0,9770,0,0,0.00,0.00,64043278-01
2,329750,TIGER 미국달러단기채권액티브,2422000,12110,200,2403449,12017.25,0.77,64043278-01
5,0,현금,1080147,1,1080147,1080147,1.00,0.00,64043278-01

In [15]:
total_3

7506227

In [16]:
df_4

,코드,이름,평가금액,단가,수량,매입금액,매입단가,수익률,계좌
4,411060,ACE KRX금현물,5424705,15455,351,5289289,15069.20,2.56,64012548-29
3,365780,ACE 국고채10년,274665,91555,3,261365,87121.67,5.09,64012548-29
2,360200,ACE 미국S&P500,1775520,18495,96,1661378,17306.02,6.87,64012548-29
6,456880,ACE 미국달러SOFR금리(합성),5331200,10880,490,5368938,10957.02,-0.70,64012548-29
1,284430,KODEX 200미국채혼합,535920,12760,42,530156,12622.76,1.09,64012548-29
8,468380,KODEX iShares미국하이일드액티브,3039400,10855,280,3050250,10893.75,-0.36,64012548-29
10,489250,KODEX 미국배당다우존스,1025655,10155,101,1023335,10132.03,0.23,64012548-29
0,283580,KODEX 차이나CSI300,217030,9865,22,222440,10110.91,-2.43,64012548-29
7,464540,RISE 25-03 회사채(AA-이상)액티브,8525350,51050,167,8507035,50940.33,0.22,64012548-29
9,475380,RISE 글로벌리얼티인컴,1688230,10685,158,1636425,10357.12,3.17,64012548-29
5,449170,TIGER KOFR금리액티브(합성),6497415,106515,61,6450276,105742.23,0.73,64012548-29
11,0,현금,94941,1,94941,94941,1.00,0.00,64012548-29

In [17]:
total_4

34430031

In [18]:
# 그룹화하여 조건에 맞게 계산
result = df.groupby('코드').agg({
    '이름': 'first',
    '평가금액': 'sum',
    '단가': 'mean',
    '수량': 'sum',
    '매입금액': 'sum',
    '매입단가': 'mean',
}).reset_index()

result["비중"] = result["평가금액"] / result["평가금액"].sum() * 100
result["수익률"] = (result["평가금액"] - result["매입금액"]) / result["매입금액"] * 100
result.dropna(inplace=True)

# 결과 출력
result

,코드,이름,평가금액,단가,수량,매입금액,매입단가,비중,수익률
0,0,현금,1606354,1.00,1606354,1606354,1.00,1.54,0.00
1,114800,KODEX 인버스,1130000,4520.00,250,1023143,4092.57,1.09,10.44
2,218420,KODEX 미국S&P500에너지(합성),1328580,13420.00,99,1323760,13371.31,1.28,0.36
3,283580,KODEX 차이나CSI300,217030,9865.00,22,222440,10110.91,0.21,-2.43
4,284430,KODEX 200미국채혼합,535920,12760.00,42,530156,12622.76,0.51,1.09
5,329750,TIGER 미국달러단기채권액티브,3693550,12110.00,305,3656212,11973.86,3.55,1.02
6,360200,ACE 미국S&P500,8785125,18495.00,475,8330858,17504.94,8.44,5.45
7,365780,ACE 국고채10년,274665,91555.00,3,261365,87121.67,0.26,5.09
8,390390,KODEX 미국반도체MV,421575,20075.00,21,434120,20672.38,0.40,-2.89
10,411060,ACE KRX금현물,18453270,15455.00,1194,18023137,15135.04,17.72,2.39
11,446720,SOL 미국배당다우존스,5943060,10845.00,548,5813462,10661.54,5.71,2.23
12,449170,TIGER KOFR금리액티브(합성),8627715,106515.00,81,8566646,105780.36,8.29,0.71
13,453810,KODEX 인도Nifty50,1105600,13820.00,80,1080800,13510.00,1.06,2.29
14,456880,ACE 미국달러SOFR금리(합성),9683200,10880.00,890,9700513,10862.72,9.30,-0.18
15,464540,RISE 25-03 회사채(AA-이상)액티브,10924700,51050.00,214,10901530,50943.52,10.49,0.21
16,468380,KODEX iShares미국하이일드액티브,5101850,10855.00,470,5121100,10896.48,4.90,-0.38
17,469050,RISE 미국반도체NYSE(H),476640,13240.00,36,477917,13275.47,0.46,-0.27
18,473330,SOL 미국30년국채커버드콜(합성),11274240,10240.00,1101,10708527,9914.79,10.83,5.28
19,475380,RISE 글로벌리얼티인컴,2639195,10685.00,247,2572120,10458.65,2.53,2.61
20,476750,ACE 미국30년국채엔화노출액티브(H),424400,10610.00,40,360665,9016.62,0.41,17.67
21,480020,ACE 미국빅테크7+ 15%프리미엄분배(합성),1017500,10175.00,100,1174723,11747.23,0.98,-13.38
22,482730,TIGER 미국S&P500+10%프리미엄초단기,7573500,9900.00,765,7921005,10354.25,7.27,-4.39
23,483230,RISE 25-06 은행채(AA+이상)액티브,1867575,50475.00,37,1858510,50230.00,1.79,0.49
24,489250,KODEX 미국배당다우존스,1025655,10155.00,101,1023335,10132.03,0.98,0.23

In [19]:
eval_total = result['평가금액'].sum()
eval_total

104130899

In [20]:
# 카테고리 분류
# 114800	KODEX 인버스
# 283580	KODEX 차이나CSI300
# 284430	KODEX 200미국채혼합
# 329750	TIGER 미국달러단기채권액티브

원화현금 = ["0", "449170", "464540", "483230"]
달러현금 = ["456880", "468380", "329750"]
국내주식 = ["396500", "114800"]
미국주식 = ["360200", "390390", "402970", "469050", "480020", "482730", "446720", "452360", "489250", "218420"]
해외주식 = ["283580", "453810"]
미국채권 = ["284430", "473330", "476750"]
국내채권 = ["365780" ]
대채투자 = ["411060", "475380"]

result['카테고리'] = '기타'
result.loc[result['코드'].isin(원화현금), '카테고리'] = '원화현금'
result.loc[result['코드'].isin(달러현금), '카테고리'] = '달러현금'
result.loc[result['코드'].isin(국내주식), '카테고리'] = '국내주식'
result.loc[result['코드'].isin(미국주식), '카테고리'] = '미국주식'
result.loc[result['코드'].isin(해외주식), '카테고리'] = '해외주식'
result.loc[result['코드'].isin(미국채권), '카테고리'] = '미국채권'
result.loc[result['코드'].isin(국내채권), '카테고리'] = '국내채권'
result.loc[result['코드'].isin(대채투자), '카테고리'] = '대채투자'
result.sort_values(by='카테고리', inplace=True)
result

,코드,이름,평가금액,단가,수량,매입금액,매입단가,비중,수익률,카테고리
1,114800,KODEX 인버스,1130000,4520.00,250,1023143,4092.57,1.09,10.44,국내주식
7,365780,ACE 국고채10년,274665,91555.00,3,261365,87121.67,0.26,5.09,국내채권
16,468380,KODEX iShares미국하이일드액티브,5101850,10855.00,470,5121100,10896.48,4.90,-0.38,달러현금
14,456880,ACE 미국달러SOFR금리(합성),9683200,10880.00,890,9700513,10862.72,9.30,-0.18,달러현금
5,329750,TIGER 미국달러단기채권액티브,3693550,12110.00,305,3656212,11973.86,3.55,1.02,달러현금
19,475380,RISE 글로벌리얼티인컴,2639195,10685.00,247,2572120,10458.65,2.53,2.61,대채투자
10,411060,ACE KRX금현물,18453270,15455.00,1194,18023137,15135.04,17.72,2.39,대채투자
24,489250,KODEX 미국배당다우존스,1025655,10155.00,101,1023335,10132.03,0.98,0.23,미국주식
21,480020,ACE 미국빅테크7+ 15%프리미엄분배(합성),1017500,10175.00,100,1174723,11747.23,0.98,-13.38,미국주식
11,446720,SOL 미국배당다우존스,5943060,10845.00,548,5813462,10661.54,5.71,2.23,미국주식
8,390390,KODEX 미국반도체MV,421575,20075.00,21,434120,20672.38,0.40,-2.89,미국주식
6,360200,ACE 미국S&P500,8785125,18495.00,475,8330858,17504.94,8.44,5.45,미국주식
22,482730,TIGER 미국S&P500+10%프리미엄초단기,7573500,9900.00,765,7921005,10354.25,7.27,-4.39,미국주식
2,218420,KODEX 미국S&P500에너지(합성),1328580,13420.00,99,1323760,13371.31,1.28,0.36,미국주식
17,469050,RISE 미국반도체NYSE(H),476640,13240.00,36,477917,13275.47,0.46,-0.27,미국주식
20,476750,ACE 미국30년국채엔화노출액티브(H),424400,10610.00,40,360665,9016.62,0.41,17.67,미국채권
4,284430,KODEX 200미국채혼합,535920,12760.00,42,530156,12622.76,0.51,1.09,미국채권
18,473330,SOL 미국30년국채커버드콜(합성),11274240,10240.00,1101,10708527,9914.79,10.83,5.28,미국채권
0,0,현금,1606354,1.00,1606354,1606354,1.00,1.54,0.00,원화현금
23,483230,RISE 25-06 은행채(AA+이상)액티브,1867575,50475.00,37,1858510,50230.00,1.79,0.49,원화현금
15,464540,RISE 25-03 회사채(AA-이상)액티브,10924700,51050.00,214,10901530,50943.52,10.49,0.21,원화현금
12,449170,TIGER KOFR금리액티브(합성),8627715,106515.00,81,8566646,105780.36,8.29,0.71,원화현금
13,453810,KODEX 인도Nifty50,1105600,13820.00,80,1080800,13510.00,1.06,2.29,해외주식
3,283580,KODEX 차이나CSI300,217030,9865.00,22,222440,10110.91,0.21,-2.43,해외주식

In [21]:
# 새로운 '분류' 컬럼 추가
result['대분류'] = result['카테고리']
result.loc[result['카테고리'].str.contains('현금'), '대분류'] = '현금'
result.loc[result['카테고리'].str.contains('주식'), '대분류'] = '주식'
result.loc[result['카테고리'].str.contains('채권'), '대분류'] = '채권'
result

,코드,이름,평가금액,단가,수량,매입금액,매입단가,비중,수익률,카테고리,대분류
1,114800,KODEX 인버스,1130000,4520.00,250,1023143,4092.57,1.09,10.44,국내주식,주식
7,365780,ACE 국고채10년,274665,91555.00,3,261365,87121.67,0.26,5.09,국내채권,채권
16,468380,KODEX iShares미국하이일드액티브,5101850,10855.00,470,5121100,10896.48,4.90,-0.38,달러현금,현금
14,456880,ACE 미국달러SOFR금리(합성),9683200,10880.00,890,9700513,10862.72,9.30,-0.18,달러현금,현금
5,329750,TIGER 미국달러단기채권액티브,3693550,12110.00,305,3656212,11973.86,3.55,1.02,달러현금,현금
19,475380,RISE 글로벌리얼티인컴,2639195,10685.00,247,2572120,10458.65,2.53,2.61,대채투자,대채투자
10,411060,ACE KRX금현물,18453270,15455.00,1194,18023137,15135.04,17.72,2.39,대채투자,대채투자
24,489250,KODEX 미국배당다우존스,1025655,10155.00,101,1023335,10132.03,0.98,0.23,미국주식,주식
21,480020,ACE 미국빅테크7+ 15%프리미엄분배(합성),1017500,10175.00,100,1174723,11747.23,0.98,-13.38,미국주식,주식
11,446720,SOL 미국배당다우존스,5943060,10845.00,548,5813462,10661.54,5.71,2.23,미국주식,주식
8,390390,KODEX 미국반도체MV,421575,20075.00,21,434120,20672.38,0.40,-2.89,미국주식,주식
6,360200,ACE 미국S&P500,8785125,18495.00,475,8330858,17504.94,8.44,5.45,미국주식,주식
22,482730,TIGER 미국S&P500+10%프리미엄초단기,7573500,9900.00,765,7921005,10354.25,7.27,-4.39,미국주식,주식
2,218420,KODEX 미국S&P500에너지(합성),1328580,13420.00,99,1323760,13371.31,1.28,0.36,미국주식,주식
17,469050,RISE 미국반도체NYSE(H),476640,13240.00,36,477917,13275.47,0.46,-0.27,미국주식,주식
20,476750,ACE 미국30년국채엔화노출액티브(H),424400,10610.00,40,360665,9016.62,0.41,17.67,미국채권,채권
4,284430,KODEX 200미국채혼합,535920,12760.00,42,530156,12622.76,0.51,1.09,미국채권,채권
18,473330,SOL 미국30년국채커버드콜(합성),11274240,10240.00,1101,10708527,9914.79,10.83,5.28,미국채권,채권
0,0,현금,1606354,1.00,1606354,1606354,1.00,1.54,0.00,원화현금,현금
23,483230,RISE 25-06 은행채(AA+이상)액티브,1867575,50475.00,37,1858510,50230.00,1.79,0.49,원화현금,현금
15,464540,RISE 25-03 회사채(AA-이상)액티브,10924700,51050.00,214,10901530,50943.52,10.49,0.21,원화현금,현금
12,449170,TIGER KOFR금리액티브(합성),8627715,106515.00,81,8566646,105780.36,8.29,0.71,원화현금,현금
13,453810,KODEX 인도Nifty50,1105600,13820.00,80,1080800,13510.00,1.06,2.29,해외주식,주식
3,283580,KODEX 차이나CSI300,217030,9865.00,22,222440,10110.91,0.21,-2.43,해외주식,주식

In [22]:
# 카테고리 별 비중 계산
대분류 = result.groupby('대분류').agg({
    '평가금액': 'sum',
    '단가': 'mean',
    '수량': 'sum',
    '매입금액': 'sum',
}).reset_index()

total_amount = 대분류['평가금액'].sum()
대분류['비중'] = 대분류['평가금액'] / total_amount * 100
대분류["수익률"] = (대분류["평가금액"] - 대분류["매입금액"]) / 대분류["매입금액"] * 100
대분류

    대분류      평가금액       단가       수량      매입금액    비중  수익률
0  대채투자  21092465 13070.00     1441  20595257 20.26 2.41
1    주식  29024265 12228.18     2497  28825563 27.87 0.69
2    채권  12509225 31291.25     1186  11860713 12.01 5.47
3    현금  41504944 34555.14  1608351  41410865 39.86 0.23

In [23]:
# 카테고리 별 비중 계산
category_group = result.groupby('카테고리').agg({
    '평가금액': 'sum',
    '단가': 'mean',
    '수량': 'sum',
    '매입금액': 'sum',
}).reset_index()

total_amount = category_group['평가금액'].sum()
category_group['비중'] = category_group['평가금액'] / total_amount * 100
category_group["수익률"] = (category_group["평가금액"] - category_group["매입금액"]) / category_group["매입금액"] * 100
category_group

   카테고리      평가금액       단가       수량      매입금액    비중   수익률
0  국내주식   1130000  4520.00      250   1023143  1.09 10.44
1  국내채권    274665 91555.00        3    261365  0.26  5.09
2  달러현금  18478600 11281.67     1665  18477825 17.75  0.00
3  대채투자  21092465 13070.00     1441  20595257 20.26  2.41
4  미국주식  26571635 13288.12     2145  26499180 25.52  0.27
5  미국채권  12234560 11203.33     1183  11599348 11.75  5.48
6  원화현금  23026344 52010.25  1606686  22933040 22.11  0.41
7  해외주식   1322630 11842.50      102   1303240  1.27  1.49

In [24]:
# '대분류'가 '채권'인 항목 필터링
bond_df = result[result['대분류'] == '채권']

# 총 평가금액 계산
total_bond_amount = bond_df['평가금액'].sum()

# 각각의 항목에 대해 비중 계산
bond_df.loc[:, '비중'] = bond_df['평가금액'] / total_bond_amount * 100
bond_df

,코드,이름,평가금액,단가,수량,매입금액,매입단가,비중,수익률,카테고리,대분류
7,365780,ACE 국고채10년,274665,91555.00,3,261365,87121.67,2.20,5.09,국내채권,채권
20,476750,ACE 미국30년국채엔화노출액티브(H),424400,10610.00,40,360665,9016.62,3.39,17.67,미국채권,채권
4,284430,KODEX 200미국채혼합,535920,12760.00,42,530156,12622.76,4.28,1.09,미국채권,채권
18,473330,SOL 미국30년국채커버드콜(합성),11274240,10240.00,1101,10708527,9914.79,90.13,5.28,미국채권,채권

In [25]:
# '대분류'가 '주식'인 항목 필터링
stock_df = result[result['대분류'] == '주식']

# 총 평가금액 계산
total_stock_amount = stock_df['평가금액'].sum()

# 각각의 항목에 대해 비중 계산
stock_df.loc[:, '비중'] = stock_df['평가금액'] / total_stock_amount * 100
stock_df

,코드,이름,평가금액,단가,수량,매입금액,매입단가,비중,수익률,카테고리,대분류
1,114800,KODEX 인버스,1130000,4520.00,250,1023143,4092.57,3.89,10.44,국내주식,주식
24,489250,KODEX 미국배당다우존스,1025655,10155.00,101,1023335,10132.03,3.53,0.23,미국주식,주식
21,480020,ACE 미국빅테크7+ 15%프리미엄분배(합성),1017500,10175.00,100,1174723,11747.23,3.51,-13.38,미국주식,주식
11,446720,SOL 미국배당다우존스,5943060,10845.00,548,5813462,10661.54,20.48,2.23,미국주식,주식
8,390390,KODEX 미국반도체MV,421575,20075.00,21,434120,20672.38,1.45,-2.89,미국주식,주식
6,360200,ACE 미국S&P500,8785125,18495.00,475,8330858,17504.94,30.27,5.45,미국주식,주식
22,482730,TIGER 미국S&P500+10%프리미엄초단기,7573500,9900.00,765,7921005,10354.25,26.09,-4.39,미국주식,주식
2,218420,KODEX 미국S&P500에너지(합성),1328580,13420.00,99,1323760,13371.31,4.58,0.36,미국주식,주식
17,469050,RISE 미국반도체NYSE(H),476640,13240.00,36,477917,13275.47,1.64,-0.27,미국주식,주식
13,453810,KODEX 인도Nifty50,1105600,13820.00,80,1080800,13510.00,3.81,2.29,해외주식,주식
3,283580,KODEX 차이나CSI300,217030,9865.00,22,222440,10110.91,0.75,-2.43,해외주식,주식

In [26]:
# '대분류'가 '현금'인 항목 필터링
cash_df = result[result['대분류'] == '현금']

# 총 평가금액 계산
total_cash_amount = cash_df['평가금액'].sum()

# 각각의 항목에 대해 비중 계산
cash_df.loc[:, '비중'] = cash_df['평가금액'] / total_cash_amount * 100
cash_df

,코드,이름,평가금액,단가,수량,매입금액,매입단가,비중,수익률,카테고리,대분류
16,468380,KODEX iShares미국하이일드액티브,5101850,10855.00,470,5121100,10896.48,12.29,-0.38,달러현금,현금
14,456880,ACE 미국달러SOFR금리(합성),9683200,10880.00,890,9700513,10862.72,23.33,-0.18,달러현금,현금
5,329750,TIGER 미국달러단기채권액티브,3693550,12110.00,305,3656212,11973.86,8.90,1.02,달러현금,현금
0,0,현금,1606354,1.00,1606354,1606354,1.00,3.87,0.00,원화현금,현금
23,483230,RISE 25-06 은행채(AA+이상)액티브,1867575,50475.00,37,1858510,50230.00,4.50,0.49,원화현금,현금
15,464540,RISE 25-03 회사채(AA-이상)액티브,10924700,51050.00,214,10901530,50943.52,26.32,0.21,원화현금,현금
12,449170,TIGER KOFR금리액티브(합성),8627715,106515.00,81,8566646,105780.36,20.79,0.71,원화현금,현금


## 최근 영업일

In [27]:
import requests as rq
from bs4 import BeautifulSoup

url = 'https://finance.naver.com/sise/sise_deposit.nhn'
data = rq.get(url)
data_html = BeautifulSoup(data.content)
parse_day = data_html.select_one(
    'div.subtop_sise_graph2 > ul.subtop_chart_note > li > span.tah').text

print(parse_day)

  |  2024.09.06

In [28]:
import re

biz_day = re.findall('[0-9]+', parse_day)
biz_day = ''.join(biz_day)

print(biz_day)

20240906