In [7]:
import keyring
from pprint import pprint

api_key_irp = keyring.get_password("irp_api_key", "birdblues")
api_secret_irp = keyring.get_password("irp_api_secret", "birdblues")

api_key_isa = keyring.get_password("isa_api_key", "birdblues")
api_secret_isa = keyring.get_password("isa_api_secret", "birdblues")

api_key_0 = keyring.get_password("api_key_0", "birdblues")
api_secret_0 = keyring.get_password("api_secret_0","birdblues")

api_key_1 = keyring.get_password("api_key_1", "birdblues")
api_secret_1 = keyring.get_password("api_secret_1","birdblues")

api_key_2 = keyring.get_password("api_key_2", "birdblues")
api_secret_2 = keyring.get_password("api_secret_2","birdblues")

# print(f"api_key_irp = {api_key_irp}")
# print(f"api_secret_irp = {api_secret_irp}")
# print(f"api_key_isa = {api_key_isa}")
# print(f"api_secret_isa = {api_secret_isa}")
# print(f"api_key_0 = {api_key_0}")
# print(f"api_secret_0 = {api_secret_0}")
# print(f"api_key_1 = {api_key_1}")
# print(f"api_secret_1 = {api_secret_1}")
# print(f"api_key_2 = {api_key_2}")
# print(f"api_secret_2 = {api_secret_2}")

In [8]:
acc_no_0 = "63981494-01" # 위탁
acc_no_1 = "64267316-22" # 연금저축 1
acc_no_2 = "64012548-22" # 연금저축 2
acc_no_isa = "64043278-01" # ISA
acc_no_irp = "64012548-29" # IRP

In [13]:
import requests
import json

def get_access_token(api_key, api_secret):
    # base url
    url_base = "https://openapi.koreainvestment.com:9443"

    # information
    headers = {"content-type": "application/json"}
    path = "oauth2/tokenP"
    body = {
        "grant_type": "client_credentials",
        "appkey": api_key,
        "appsecret": api_secret
    }

    url = f"{url_base}/{path}"

    res = requests.post(url, headers=headers, data=json.dumps(body))
    pprint(res.headers)
    pprint(res.json())
    access_token = res.json()['access_token']
    return access_token

In [14]:
import time

access_token_0 = get_access_token(api_key_0, api_secret_0)
access_token_1 = get_access_token(api_key_1, api_secret_1)
access_token_2 = get_access_token(api_key_2, api_secret_2)
access_token_3 = get_access_token(api_key_isa, api_secret_isa)
time.sleep(60)
access_token_4 = get_access_token(api_key_irp, api_secret_irp)
tokens = [access_token_0, access_token_1, access_token_2, access_token_3, access_token_4]
tokens

{'Date': 'Wed, 17 Jul 2024 01:46:11 GMT', 'X-Content-Type-Options': 'nosniff', 'Content-Length': '457', 'X-ORACLE-DMS-ECID': '0067MUWUDe7Fw0zzzR06zzEjX2E0jYYz30000ZS02Masv', 'X-ORACLE-DMS-RID': '0:1', 'X-XSS-Protection': '1; mode=block', 'Keep-Alive': 'timeout=5, max=100', 'Connection': 'Keep-Alive', 'Content-Type': 'application/json'}
{'access_token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0b2tlbiIsImF1ZCI6Ijc3ZDVmNWY4LTliN2UtNDcwZi1iMGRjLWFiZGVjMzk4MWYzZCIsInByZHRfY2QiOiIiLCJpc3MiOiJ1bm9ndyIsImV4cCI6MTcyMTI2NjU0MSwiaWF0IjoxNzIxMTgwMTQxLCJqdGkiOiJQUzcxM29iT1pwa3R6VjBHajJRT09UcmwxVU9TbWdmMkx4VE0ifQ.k4OyksVJBuG9kIGRI3XvJjbgcXRNQfRTugX-DUTMrAEK4x9qBAMlpelermRcq2AIFVqGaWo_p1bEevPRSvbFVg',
 'access_token_token_expired': '2024-07-18 10:35:41',
 'expires_in': 86400,
 'token_type': 'Bearer'}
{'Date': 'Wed, 17 Jul 2024 01:46:11 GMT', 'X-Content-Type-Options': 'nosniff', 'Content-Length': '457', 'X-ORACLE-DMS-ECID': '0067MUWUliDFw0zzzR06zzEjX2E0jYYz30005gD04X0OT', 'X-ORACLE-DMS-RID': '0:1', 'X-XSS-Protection': '1; mode=block', 'Keep-Alive': 'timeout=5, max=100', 'Connection': 'Keep-Alive', 'Content-Type': 'application/json'}
{'access_token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0b2tlbiIsImF1ZCI6IjFlMjk2MGZiLTRjZDEtNDY4ZC1iNGJiLTRkMmEzNGU1MWVkNSIsInByZHRfY2QiOiIiLCJpc3MiOiJ1bm9ndyIsImV4cCI6MTcyMTI2NjU0MSwiaWF0IjoxNzIxMTgwMTQxLCJqdGkiOiJQU3NKdEc0TmpYd0o5bDJOcTVydXlyTVVubG9UdUg5MDJuNnkifQ.J-IB_EbqdRqqaRkWzS7tPbkX0Bsv-JPGrHuICUK3Q5Nb2PTv0lr2-CrAla_-6ITRoiq7vzUNrzCbXuPV_9e0Vw',
 'access_token_token_expired': '2024-07-18 10:35:41',
 'expires_in': 86400,
 'token_type': 'Bearer'}
{'Date': 'Wed, 17 Jul 2024 01:46:11 GMT', 'X-Content-Type-Options': 'nosniff', 'Content-Length': '457', 'X-ORACLE-DMS-ECID': '0067MUWVGCIFw0zzzR06zzEjX2E0jYYz30000ZS02MavG', 'X-ORACLE-DMS-RID': '0:1', 'X-XSS-Protection': '1; mode=block', 'Keep-Alive': 'timeout=5, max=100', 'Connection': 'Keep-Alive', 'Content-Type': 'application/json'}
{'access_token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0b2tlbiIsImF1ZCI6Ijc5Y2YyYjkwLWYyNjQtNDhjOS05YTk2LTZjNzJjNjBlNmNhNSIsInByZHRfY2QiOiIiLCJpc3MiOiJ1bm9ndyIsImV4cCI6MTcyMTI2NjU0MSwiaWF0IjoxNzIxMTgwMTQxLCJqdGkiOiJQUzJYcnBUYjlqOUxhSW5JVzlTSDhlUzhoY2hmd1BqVW5nQ3gifQ.WTOLEktNJ3hHS-AYXkwU4PfV4lhH18Xw1fzFJSWeHqlKRg-JMjA_DfobHTAt1RU1sBdQjZKthMXJlxO04QMMoQ',
 'access_token_token_expired': '2024-07-18 10:35:41',
 'expires_in': 86400,
 'token_type': 'Bearer'}
{'Date': 'Wed, 17 Jul 2024 01:46:11 GMT', 'X-Content-Type-Options': 'nosniff', 'Content-Length': '457', 'X-ORACLE-DMS-ECID': '0067MUWVi6kFw0zzzR06zzEjX2E0jYYz30000ZS02MawF', 'X-ORACLE-DMS-RID': '0:1', 'X-XSS-Protection': '1; mode=block', 'Keep-Alive': 'timeout=5, max=100', 'Connection': 'Keep-Alive', 'Content-Type': 'application/json'}
{'access_token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0b2tlbiIsImF1ZCI6ImE5N2M1YjllLWI2ZTMtNDIxNi1iODVhLTJmZjU2ZWU2ZDQyMCIsInByZHRfY2QiOiIiLCJpc3MiOiJ1bm9ndyIsImV4cCI6MTcyMTI2NjU0MSwiaWF0IjoxNzIxMTgwMTQxLCJqdGkiOiJQU2ltYXVwVnZmdXpNNjZYWVk2ZGRFTkI3RTRnRlVUalk3SUEifQ.-3HU-qP8og0EIijR0MklMyhGJ_lvgUlLRNK21pmDrHuUgI2Exu2DlyCDusQw0uXdreIoGaTwPCquUGHK30qo5g',
 'access_token_token_expired': '2024-07-18 10:35:41',
 'expires_in': 86400,
 'token_type': 'Bearer'}
{'Date': 'Wed, 17 Jul 2024 01:47:11 GMT', 'X-Content-Type-Options': 'nosniff', 'Content-Length': '457', 'X-ORACLE-DMS-ECID': '0067MU^55QfFw0zzzR06zzEjX2E0jYYz30005ag003LTF', 'X-ORACLE-DMS-RID': '0:1', 'X-XSS-Protection': '1; mode=block', 'Keep-Alive': 'timeout=5, max=100', 'Connection': 'Keep-Alive', 'Content-Type': 'application/json'}
{'access_token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0b2tlbiIsImF1ZCI6Ijc5Y2YyYjkwLWYyNjQtNDhjOS05YTk2LTZjNzJjNjBlNmNhNSIsInByZHRfY2QiOiIiLCJpc3MiOiJ1bm9ndyIsImV4cCI6MTcyMTI2NjU0MSwiaWF0IjoxNzIxMTgwMTQxLCJqdGkiOiJQUzJYcnBUYjlqOUxhSW5JVzlTSDhlUzhoY2hmd1BqVW5nQ3gifQ.WTOLEktNJ3hHS-AYXkwU4PfV4lhH18Xw1fzFJSWeHqlKRg-JMjA_DfobHTAt1RU1sBdQjZKthMXJlxO04QMMoQ',
 'access_token_token_expired': '2024-07-18 10:35:41',
 'expires_in': 86400,
 'token_type': 'Bearer'}

['eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0b2tlbiIsImF1ZCI6Ijc3ZDVmNWY4LTliN2UtNDcwZi1iMGRjLWFiZGVjMzk4MWYzZCIsInByZHRfY2QiOiIiLCJpc3MiOiJ1bm9ndyIsImV4cCI6MTcyMTI2NjU0MSwiaWF0IjoxNzIxMTgwMTQxLCJqdGkiOiJQUzcxM29iT1pwa3R6VjBHajJRT09UcmwxVU9TbWdmMkx4VE0ifQ.k4OyksVJBuG9kIGRI3XvJjbgcXRNQfRTugX-DUTMrAEK4x9qBAMlpelermRcq2AIFVqGaWo_p1bEevPRSvbFVg',
 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0b2tlbiIsImF1ZCI6IjFlMjk2MGZiLTRjZDEtNDY4ZC1iNGJiLTRkMmEzNGU1MWVkNSIsInByZHRfY2QiOiIiLCJpc3MiOiJ1bm9ndyIsImV4cCI6MTcyMTI2NjU0MSwiaWF0IjoxNzIxMTgwMTQxLCJqdGkiOiJQU3NKdEc0TmpYd0o5bDJOcTVydXlyTVVubG9UdUg5MDJuNnkifQ.J-IB_EbqdRqqaRkWzS7tPbkX0Bsv-JPGrHuICUK3Q5Nb2PTv0lr2-CrAla_-6ITRoiq7vzUNrzCbXuPV_9e0Vw',
 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0b2tlbiIsImF1ZCI6Ijc5Y2YyYjkwLWYyNjQtNDhjOS05YTk2LTZjNzJjNjBlNmNhNSIsInByZHRfY2QiOiIiLCJpc3MiOiJ1bm9ndyIsImV4cCI6MTcyMTI2NjU0MSwiaWF0IjoxNzIxMTgwMTQxLCJqdGkiOiJQUzJYcnBUYjlqOUxhSW5JVzlTSDhlUzhoY2hmd1BqVW5nQ3gifQ.WTOLEktNJ3hHS-AYXkwU4PfV4lhH18Xw1fzFJSWeHqlKRg-JMjA_DfobHTAt1RU1sBdQjZKthMXJlxO04QMMoQ',
 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0b2tlbiIsImF1ZCI6ImE5N2M1YjllLWI2ZTMtNDIxNi1iODVhLTJmZjU2ZWU2ZDQyMCIsInByZHRfY2QiOiIiLCJpc3MiOiJ1bm9ndyIsImV4cCI6MTcyMTI2NjU0MSwiaWF0IjoxNzIxMTgwMTQxLCJqdGkiOiJQU2ltYXVwVnZmdXpNNjZYWVk2ZGRFTkI3RTRnRlVUalk3SUEifQ.-3HU-qP8og0EIijR0MklMyhGJ_lvgUlLRNK21pmDrHuUgI2Exu2DlyCDusQw0uXdreIoGaTwPCquUGHK30qo5g',
 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0b2tlbiIsImF1ZCI6Ijc5Y2YyYjkwLWYyNjQtNDhjOS05YTk2LTZjNzJjNjBlNmNhNSIsInByZHRfY2QiOiIiLCJpc3MiOiJ1bm9ndyIsImV4cCI6MTcyMTI2NjU0MSwiaWF0IjoxNzIxMTgwMTQxLCJqdGkiOiJQUzJYcnBUYjlqOUxhSW5JVzlTSDhlUzhoY2hmd1BqVW5nQ3gifQ.WTOLEktNJ3hHS-AYXkwU4PfV4lhH18Xw1fzFJSWeHqlKRg-JMjA_DfobHTAt1RU1sBdQjZKthMXJlxO04QMMoQ']

In [1]:
keyring.set_password("access_token_0", "birdblues", access_token_0)
keyring.set_password("access_token_1", "birdblues", access_token_1)
keyring.set_password("access_token_2", "birdblues", access_token_2)
keyring.set_password("access_token_3", "birdblues", access_token_3)
keyring.set_password("access_token_4", "birdblues", access_token_4)

NameError: name 'keyring' is not defined

In [9]:
import keyring

token_0 = keyring.get_password("access_token_0", "birdblues")
token_1 = keyring.get_password("access_token_1", "birdblues")
token_2 = keyring.get_password("access_token_2", "birdblues")
token_3 = keyring.get_password("access_token_3", "birdblues")
token_4 = keyring.get_password("access_token_4", "birdblues")

print(f"token_0 = {token_0}")
print(f"token_1 = {token_1}")
print(f"token_2 = {token_2}")
print(f"token_3 = {token_3}")
print(f"token_4 = {token_4}")

token_0 = eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0b2tlbiIsImF1ZCI6Ijc3ZDVmNWY4LTliN2UtNDcwZi1iMGRjLWFiZGVjMzk4MWYzZCIsInByZHRfY2QiOiIiLCJpc3MiOiJ1bm9ndyIsImV4cCI6MTcyMTI2NjU0MSwiaWF0IjoxNzIxMTgwMTQxLCJqdGkiOiJQUzcxM29iT1pwa3R6VjBHajJRT09UcmwxVU9TbWdmMkx4VE0ifQ.k4OyksVJBuG9kIGRI3XvJjbgcXRNQfRTugX-DUTMrAEK4x9qBAMlpelermRcq2AIFVqGaWo_p1bEevPRSvbFVg
token_1 = eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0b2tlbiIsImF1ZCI6IjFlMjk2MGZiLTRjZDEtNDY4ZC1iNGJiLTRkMmEzNGU1MWVkNSIsInByZHRfY2QiOiIiLCJpc3MiOiJ1bm9ndyIsImV4cCI6MTcyMTI2NjU0MSwiaWF0IjoxNzIxMTgwMTQxLCJqdGkiOiJQU3NKdEc0TmpYd0o5bDJOcTVydXlyTVVubG9UdUg5MDJuNnkifQ.J-IB_EbqdRqqaRkWzS7tPbkX0Bsv-JPGrHuICUK3Q5Nb2PTv0lr2-CrAla_-6ITRoiq7vzUNrzCbXuPV_9e0Vw
token_2 = eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0b2tlbiIsImF1ZCI6Ijc5Y2YyYjkwLWYyNjQtNDhjOS05YTk2LTZjNzJjNjBlNmNhNSIsInByZHRfY2QiOiIiLCJpc3MiOiJ1bm9ndyIsImV4cCI6MTcyMTI2NjU0MSwiaWF0IjoxNzIxMTgwMTQxLCJqdGkiOiJQUzJYcnBUYjlqOUxhSW5JVzlTSDhlUzhoY2hmd1BqVW5nQ3gifQ.WTOLEktNJ3hHS-AYXkwU4PfV4lhH18Xw1fzFJSWeHqlKRg-JMjA_DfobHTAt1RU1sBdQjZKthMXJlxO04QMMoQ
token_3 = eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0b2tlbiIsImF1ZCI6ImE5N2M1YjllLWI2ZTMtNDIxNi1iODVhLTJmZjU2ZWU2ZDQyMCIsInByZHRfY2QiOiIiLCJpc3MiOiJ1bm9ndyIsImV4cCI6MTcyMTI2NjU0MSwiaWF0IjoxNzIxMTgwMTQxLCJqdGkiOiJQU2ltYXVwVnZmdXpNNjZYWVk2ZGRFTkI3RTRnRlVUalk3SUEifQ.-3HU-qP8og0EIijR0MklMyhGJ_lvgUlLRNK21pmDrHuUgI2Exu2DlyCDusQw0uXdreIoGaTwPCquUGHK30qo5g
token_4 = eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0b2tlbiIsImF1ZCI6Ijc5Y2YyYjkwLWYyNjQtNDhjOS05YTk2LTZjNzJjNjBlNmNhNSIsInByZHRfY2QiOiIiLCJpc3MiOiJ1bm9ndyIsImV4cCI6MTcyMTI2NjU0MSwiaWF0IjoxNzIxMTgwMTQxLCJqdGkiOiJQUzJYcnBUYjlqOUxhSW5JVzlTSDhlUzhoY2hmd1BqVW5nQ3gifQ.WTOLEktNJ3hHS-AYXkwU4PfV4lhH18Xw1fzFJSWeHqlKRg-JMjA_DfobHTAt1RU1sBdQjZKthMXJlxO04QMMoQ

In [14]:
import requests
import json

def get_balance(access_token, app_key, app_secret, acc_no):
    
    url_base = "https://openapi.koreainvestment.com:9443"
    path = "/uapi/domestic-stock/v1/trading/inquire-balance"
    url = f"{url_base}/{path}"

    headers = {
        "Content-Type": "application/json; charset=utf-8",
        "authorization": f"Bearer {access_token}",
        "appKey": app_key,
        "appSecret": app_secret,
        "tr_id": "TTTC8434R"
    }

    params = {
        "CANO": acc_no[:8],  # 계좌번호 앞 8지리
        "ACNT_PRDT_CD": acc_no[-2:],  # 계좌번호 뒤 2자리
        "AFHR_FLPR_YN": "N",  # 시간외단일가여부
        "OFL_YN": "",  # 공란
        "INQR_DVSN": "01",  # 조회구분
        "UNPR_DVSN": "01",  # 단가구분
        "FUND_STTL_ICLD_YN": "N",  # 펀드결제분포함여부
        "FNCG_AMT_AUTO_RDPT_YN": "N",  # 융자금액자동상환여부        
        "PRCS_DVSN": "00",  # 처리구분(00: 전일매매포함)
        "CTX_AREA_FK100": "",  # 연속조회검색조건
        "CTX_AREA_NK100": ""  # 연속조회키
    }
    res = requests.get(url, headers=headers, params=params)
    return res.json()

In [15]:
def get_balance_irp(access_token, app_key, app_secret, acc_no):
    
    url_base = "https://openapi.koreainvestment.com:9443"
    path = "/uapi/domestic-stock/v1/trading/pension/inquire-balance"
    url = f"{url_base}/{path}"

    headers = {
        "Content-Type": "application/json; charset=utf-8",
        "authorization": f"Bearer {access_token}",
        "appKey": app_key,
        "appSecret": app_secret,
        "tr_id": "TTTC2208R"
    }

    params = {
        "CANO": acc_no[:8],  # 계좌번호 앞 8지리
        "ACNT_PRDT_CD": acc_no[-2:],  # 계좌번호 뒤 2자리
        "ACCA_DVSN_CD":"00",
        "INQR_DVSN":"00",
        "CTX_AREA_FK100": "",  # 연속조회검색조건
        "CTX_AREA_NK100": ""  # 연속조회키
    }
    res = requests.get(url, headers=headers, params=params)
    return res.json()

In [16]:
json_0 = get_balance(token_0, api_key_0, api_secret_0, acc_no_0)
json_1 = get_balance(token_1, api_key_1, api_secret_1, acc_no_1)
json_2 = get_balance(token_2, api_key_2, api_secret_2, acc_no_2)
json_3 = get_balance(token_3, api_key_isa, api_secret_isa, acc_no_isa)
json_4 = get_balance_irp(token_4, api_key_irp, api_secret_irp, acc_no_irp)
json_4

{'ctx_area_fk100': '64012548^29^00^00^                                                                                  ',
 'ctx_area_nk100': '                                                                                                    ',
 'output1': [{'cblc_dvsn_name': '사용자',
   'prdt_name': 'KODEX 차이나CSI300',
   'pdno': '283580',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '0',
   'hldg_qty': '20',
   'ord_psbl_qty': '20',
   'pchs_avg_pric': '10117.5000',
   'pchs_amt': '202350',
   'prpr': '10765',
   'evlu_amt': '215300',
   'evlu_pfls_amt': '12950',
   'evlu_erng_rt': '6.39980232'},
  {'cblc_dvsn_name': '사용자',
   'prdt_name': 'KODEX 200미국채혼합',
   'pdno': '284430',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '0',
   'hldg_qty': '38',
   'ord_psbl_qty': '38',
   'pchs_avg_pric': '12590.2895',
   'pchs_amt': '478431',
   'prpr': '13525',
   'evlu_amt': '513950',
   'evlu_pfls_amt': '35519',
   'evlu_erng_rt': '7.42405906'},
  {'cblc_dvsn_name': '사용자',
   'prdt_name': 'ACE 미국S&P500',
   'pdno': '360200',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '0',
   'hldg_qty': '33',
   'ord_psbl_qty': '33',
   'pchs_avg_pric': '15977.1212',
   'pchs_amt': '527245',
   'prpr': '19670',
   'evlu_amt': '649110',
   'evlu_pfls_amt': '121865',
   'evlu_erng_rt': '23.11354304'},
  {'cblc_dvsn_name': '사용자',
   'prdt_name': 'ACE 국고채10년',
   'pdno': '365780',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '0',
   'hldg_qty': '3',
   'ord_psbl_qty': '3',
   'pchs_avg_pric': '87121.6667',
   'pchs_amt': '261365',
   'prpr': '90345',
   'evlu_amt': '271035',
   'evlu_pfls_amt': '9670',
   'evlu_erng_rt': '3.69980678'},
  {'cblc_dvsn_name': '사용자',
   'prdt_name': 'ACE KRX금현물',
   'pdno': '411060',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '0',
   'hldg_qty': '319',
   'ord_psbl_qty': '319',
   'pchs_avg_pric': '15002.7304',
   'pchs_amt': '4785871',
   'prpr': '15705',
   'evlu_amt': '5009895',
   'evlu_pfls_amt': '224024',
   'evlu_erng_rt': '4.68094522'},
  {'cblc_dvsn_name': '사용자',
   'prdt_name': 'TIGER KOFR금리액티브(합성)',
   'pdno': '449170',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '0',
   'hldg_qty': '122',
   'ord_psbl_qty': '122',
   'pchs_avg_pric': '105726.1885',
   'pchs_amt': '12898595',
   'prpr': '105940',
   'evlu_amt': '12924680',
   'evlu_pfls_amt': '26085',
   'evlu_erng_rt': '0.20223133'},
  {'cblc_dvsn_name': '사용자',
   'prdt_name': 'ACE 미국달러SOFR금리(합성)',
   'pdno': '456880',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '0',
   'hldg_qty': '130',
   'ord_psbl_qty': '130',
   'pchs_avg_pric': '11088.8462',
   'pchs_amt': '1441550',
   'prpr': '11110',
   'evlu_amt': '1444300',
   'evlu_pfls_amt': '2750',
   'evlu_erng_rt': '0.19076688'},
  {'cblc_dvsn_name': '사용자',
   'prdt_name': 'RISE 25-03 회사채(AA-이상)액티브',
   'pdno': '464540',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '0',
   'hldg_qty': '167',
   'ord_psbl_qty': '167',
   'pchs_avg_pric': '50940.3293',
   'pchs_amt': '8507035',
   'prpr': '50955',
   'evlu_amt': '8509485',
   'evlu_pfls_amt': '2450',
   'evlu_erng_rt': '0.02879969'},
  {'cblc_dvsn_name': '사용자',
   'prdt_name': 'KODEX iShares미국하이일드액티브',
   'pdno': '468380',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '0',
   'hldg_qty': '110',
   'ord_psbl_qty': '110',
   'pchs_avg_pric': '10924.5455',
   'pchs_amt': '1201700',
   'prpr': '11035',
   'evlu_amt': '1213850',
   'evlu_pfls_amt': '12150',
   'evlu_erng_rt': '1.01106765'},
  {'cblc_dvsn_name': '사용자',
   'prdt_name': 'SOL 미국30년국채커버드콜(합성)',
   'pdno': '473330',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '20',
   'hldg_qty': '300',
   'ord_psbl_qty': '300',
   'pchs_avg_pric': '9949.5300',
   'pchs_amt': '2984859',
   'prpr': '10200',
   'evlu_amt': '3060000',
   'evlu_pfls_amt': '75141',
   'evlu_erng_rt': '2.51740534'}],
 'output2': {'dnca_tot_amt': '94661',
  'nxdy_excc_amt': '94661',
  'prvs_rcdl_excc_amt': '298661',
  'thdt_buy_amt': '0',
  'thdt_sll_amt': '204000',
  'thdt_tlex_amt': '0',
  'scts_evlu_amt': '33811605',
  'tot_evlu_amt': '34110266'},
 'rt_cd': '0',
 'msg_cd': 'KIOK0510',
 'msg1': '조회가 완료되었습니다                                                           '}

In [17]:
import pandas as pd
def get_balance_json(json):
    cash = json['output2'][0]['prvs_rcdl_excc_amt']
    ap = pd.DataFrame.from_records(json['output1'])
    if(ap.size > 0):
        ap = ap[["pdno", "prdt_name", "evlu_amt", "prpr", "hldg_qty", "pchs_amt", "pchs_avg_pric", "evlu_pfls_rt"]]
        ap.columns = ["코드", "이름", "평가금액", "단가", "수량", "매입금액", "매입단가", "수익률"]
        new_row = {"코드": "0", "이름": "현금", "평가금액": cash, "단가": 1, "수량": cash, "매입금액": cash, "매입단가": 1, "수익률": 0}
        new_row_df = pd.DataFrame([new_row])

        # concat을 사용하여 새로운 행 추가
        ap = pd.concat([ap, new_row_df], ignore_index=True)
        
        # 데이터 타입 변환
        ap["평가금액"] = pd.to_numeric(ap["평가금액"], errors='coerce')
        ap["매입금액"] = pd.to_numeric(ap["매입금액"], errors='coerce')
        ap["단가"] = pd.to_numeric(ap["단가"], errors='coerce')
        ap["매입단가"] = pd.to_numeric(ap["매입단가"], errors='coerce')
        ap["수량"] = pd.to_numeric(ap["수량"], errors='coerce')
        ap["수익률"] = pd.to_numeric(ap["수익률"], errors='coerce')
        ap["계좌"] = json['ctx_area_fk100'][:8] + '-' + json['ctx_area_fk100'][9:11]
    return ap

In [18]:
import pandas as pd
def get_balance_json_irp(json):
    cash = json['output2']['prvs_rcdl_excc_amt']
    ap = pd.DataFrame.from_records(json['output1'])
    if(ap.size > 0):
        ap = ap[["pdno", "prdt_name", "evlu_amt", "prpr", "hldg_qty", "pchs_amt", "pchs_avg_pric", "evlu_erng_rt"]]
        ap.columns = ["코드", "이름", "평가금액", "단가", "수량", "매입금액", "매입단가", "수익률"]
        new_row = {"코드": "0", "이름": "현금", "평가금액": cash, "단가": 1, "수량": cash, "매입금액": cash, "매입단가": 1, "수익률": 0}
        new_row_df = pd.DataFrame([new_row])

        # concat을 사용하여 새로운 행 추가
        ap = pd.concat([ap, new_row_df], ignore_index=True)

        # 데이터 타입 변환
        ap["평가금액"] = pd.to_numeric(ap["평가금액"], errors='coerce')
        ap["매입금액"] = pd.to_numeric(ap["매입금액"], errors='coerce')
        ap["단가"] = pd.to_numeric(ap["단가"], errors='coerce')
        ap["매입단가"] = pd.to_numeric(ap["매입단가"], errors='coerce')
        ap["수량"] = pd.to_numeric(ap["수량"], errors='coerce')
        ap["수익률"] = pd.to_numeric(ap["수익률"], errors='coerce')
        ap["계좌"] = json['ctx_area_fk100'][:8] + '-' + json['ctx_area_fk100'][9:11]
    return ap

In [19]:
df_0 = get_balance_json(json_0)
df_1 = get_balance_json(json_1)
df_2 = get_balance_json(json_2)
df_3 = get_balance_json(json_3)
df_4 = get_balance_json_irp(json_4)
df = pd.concat([df_0, df_1, df_2, df_3, df_4], ignore_index=True)
# df_0 = df_0.sort_values(by='이름')
df_1 = df_1.sort_values(by='이름')
df_2 = df_2.sort_values(by='이름')
df_3 = df_3.sort_values(by='이름')
df_4 = df_4.sort_values(by='이름')

In [20]:
df_1

,코드,이름,평가금액,단가,수량,매입금액,매입단가,수익률,계좌
2,411060,ACE KRX금현물,5638095,15705,359,5273340,14688.9694,6.91,64267316-22
10,476750,ACE 미국30년국채엔화노출액티브(H),1024055,9395,109,982813,9016.6330,4.19,64267316-22
0,360200,ACE 미국S&P500,5960010,19670,303,5330680,17593.0033,11.80,64267316-22
6,456880,ACE 미국달러SOFR금리(합성),2999700,11110,270,2945731,10910.1148,1.83,64267316-22
11,480020,ACE 미국빅테크7+ 15%프리미엄분배(합성),4722000,11805,400,4867015,12167.5375,-2.97,64267316-22
8,468380,KODEX iShares미국하이일드액티브,1434550,11035,130,1420250,10925.0000,1.00,64267316-22
7,464540,RISE 25-03 회사채(AA-이상)액티브,1885335,50955,37,1884765,50939.5946,0.03,64267316-22
9,473330,SOL 미국30년국채커버드콜(합성),10210200,10200,1001,9694000,9684.3157,5.32,64267316-22
3,446720,SOL 미국배당다우존스,3289500,10965,300,3136694,10455.6467,4.87,64267316-22
5,452360,SOL 미국배당다우존스(H),4462000,11155,400,4276167,10690.4175,4.34,64267316-22
1,396500,TIGER Fn반도체TOP10,1972380,13890,142,1925615,13560.6690,2.42,64267316-22
4,449170,TIGER KOFR금리액티브(합성),5826700,105940,55,5810681,105648.7455,0.27,64267316-22
12,482730,TIGER 미국S&P500+10%프리미엄초단기,640200,10670,60,638850,10647.5000,0.21,64267316-22
13,0,현금,30655,1,30655,30655,1.0000,0.00,64267316-22

In [21]:
df_2

,코드,이름,평가금액,단가,수량,매입금액,매입단가,수익률,계좌
5,411060,ACE KRX금현물,1444860,15705,92,1330258,14459.3261,8.61,64012548-22
1,360200,ACE 미국S&P500,1494920,19670,76,1338800,17615.7895,11.66,64012548-22
8,456880,ACE 미국달러SOFR금리(합성),144430,11110,13,140018,10770.6154,3.15,64012548-22
4,402970,ACE 미국배당다우존스,0,12150,0,0,0.0000,0.00,64012548-22
2,390390,KODEX 미국반도체MV,537180,25580,21,434120,20672.3810,23.73,64012548-22
11,483230,RISE 25-06 은행채(AA+이상)액티브,1858510,50230,37,1858510,50230.0000,0.00,64012548-22
9,469050,RISE 미국반도체NYSE(H),599940,16665,36,477917,13275.4722,25.53,64012548-22
10,473330,SOL 미국30년국채커버드콜(합성),0,10200,0,0,0.0000,0.00,64012548-22
7,452360,SOL 미국배당다우존스(H),2119450,11155,190,1998428,10518.0421,6.05,64012548-22
3,396500,TIGER Fn반도체TOP10,500040,13890,36,469560,13043.3333,6.49,64012548-22
6,449170,TIGER KOFR금리액티브(합성),3707900,105940,35,3703648,105818.5143,0.11,64012548-22
0,329750,TIGER 미국달러단기채권액티브,1048050,12330,85,1013038,11918.0941,3.45,64012548-22
12,0,현금,11700,1,11700,11700,1.0000,0.00,64012548-22

In [22]:
df_3

,코드,이름,평가금액,단가,수량,매입금액,매입단가,수익률,계좌
1,411060,ACE KRX금현물,1491975,15705,95,1417775,14923.9474,5.23,64043278-01
0,114800,KODEX 인버스,501015,3945,127,499740,3934.9606,0.25,64043278-01
3,473330,SOL 미국30년국채커버드콜(합성),1224000,10200,120,1217010,10141.7500,0.57,64043278-01
2,449170,TIGER KOFR금리액티브(합성),3390080,105940,32,3389700,105928.1250,0.01,64043278-01
4,0,현금,716477,1,716477,716477,1.0000,0.00,64043278-01

In [23]:
df_4

,코드,이름,평가금액,단가,수량,매입금액,매입단가,수익률,계좌
4,411060,ACE KRX금현물,5009895,15705,319,4785871,15002.7304,4.680945,64012548-29
3,365780,ACE 국고채10년,271035,90345,3,261365,87121.6667,3.699807,64012548-29
2,360200,ACE 미국S&P500,649110,19670,33,527245,15977.1212,23.113543,64012548-29
6,456880,ACE 미국달러SOFR금리(합성),1444300,11110,130,1441550,11088.8462,0.190767,64012548-29
1,284430,KODEX 200미국채혼합,513950,13525,38,478431,12590.2895,7.424059,64012548-29
8,468380,KODEX iShares미국하이일드액티브,1213850,11035,110,1201700,10924.5455,1.011068,64012548-29
0,283580,KODEX 차이나CSI300,215300,10765,20,202350,10117.5000,6.399802,64012548-29
7,464540,RISE 25-03 회사채(AA-이상)액티브,8509485,50955,167,8507035,50940.3293,0.028800,64012548-29
9,473330,SOL 미국30년국채커버드콜(합성),3060000,10200,300,2984859,9949.5300,2.517405,64012548-29
5,449170,TIGER KOFR금리액티브(합성),12924680,105940,122,12898595,105726.1885,0.202231,64012548-29
10,0,현금,298661,1,298661,298661,1.0000,0.000000,64012548-29

In [24]:
# 그룹화하여 조건에 맞게 계산
result = df.groupby('코드').agg({
    '이름': 'first',
    '평가금액': 'sum',
    '단가': 'mean',
    '수량': 'sum',
    '매입금액': 'sum',
}).reset_index()

result["비중"] = result["평가금액"] / result["평가금액"].sum() * 100
result["수익률"] = (result["평가금액"] - result["매입금액"]) / result["매입금액"] * 100

# 결과 출력
result

,코드,이름,평가금액,단가,수량,매입금액,비중,수익률
0,0,현금,1057493,1.0,1057493,1057493,1.007173,0.000000
1,114800,KODEX 인버스,501015,3945.0,127,499740,0.477175,0.255133
2,283580,KODEX 차이나CSI300,215300,10765.0,20,202350,0.205055,6.399802
3,284430,KODEX 200미국채혼합,513950,13525.0,38,478431,0.489494,7.424059
4,329750,TIGER 미국달러단기채권액티브,1048050,12330.0,85,1013038,0.998179,3.456139
5,360200,ACE 미국S&P500,8104040,19670.0,412,7196725,7.718415,12.607332
6,365780,ACE 국고채10년,271035,90345.0,3,261365,0.258138,3.699807
7,390390,KODEX 미국반도체MV,537180,25580.0,21,434120,0.511619,23.739980
8,396500,TIGER Fn반도체TOP10,2472420,13890.0,178,2395175,2.354772,3.225025
9,402970,ACE 미국배당다우존스,0,12150.0,0,0,0.000000,NaN
10,411060,ACE KRX금현물,13584825,15705.0,865,12807244,12.938400,6.071416
11,446720,SOL 미국배당다우존스,3289500,10965.0,300,3136694,3.132971,4.871562
12,449170,TIGER KOFR금리액티브(합성),25849360,105940.0,244,25802624,24.619335,0.181129
13,452360,SOL 미국배당다우존스(H),6581450,11155.0,590,6274595,6.268276,4.890435
14,456880,ACE 미국달러SOFR금리(합성),4588430,11110.0,413,4527299,4.370093,1.350275
15,464540,RISE 25-03 회사채(AA-이상)액티브,10394820,50955.0,204,10391800,9.900189,0.029061
16,468380,KODEX iShares미국하이일드액티브,2648400,11035.0,240,2621950,2.522378,1.008791
17,469050,RISE 미국반도체NYSE(H),599940,16665.0,36,477917,0.571392,25.532258
18,473330,SOL 미국30년국채커버드콜(합성),14494200,10200.0,1421,13895869,13.804503,4.305819
19,476750,ACE 미국30년국채엔화노출액티브(H),1024055,9395.0,109,982813,0.975326,4.196322
20,480020,ACE 미국빅테크7+ 15%프리미엄분배(합성),4722000,11805.0,400,4867015,4.497307,-2.979547
21,482730,TIGER 미국S&P500+10%프리미엄초단기,640200,10670.0,60,638850,0.609737,0.211317
22,483230,RISE 25-06 은행채(AA+이상)액티브,1858510,50230.0,37,1858510,1.770074,0.000000

In [25]:
eval_total = result['평가금액'].sum()
eval_total

104996173

In [26]:
# 카테고리 분류
원화현금 = ["0", "449170",]
달러현금 = ["456880",]
국내주식 = ["396500", "114800"]
미국주식 = ["360200", "390390", "402970", "469050", "480020", "482730", "446720", "452360"]
해외주식 = ["283580", ]
미국채권 = ["284430", "329750", "473330", "476750"]
국내채권 = ["365780", "464540", "483230"]
하이일드 = ["468380", ]
대채투자 = ["411060", ]

result['카테고리'] = '기타'
result.loc[result['코드'].isin(원화현금), '카테고리'] = '원화현금'
result.loc[result['코드'].isin(달러현금), '카테고리'] = '달러현금'
result.loc[result['코드'].isin(국내주식), '카테고리'] = '국내주식'
result.loc[result['코드'].isin(미국주식), '카테고리'] = '미국주식'
result.loc[result['코드'].isin(해외주식), '카테고리'] = '해외주식'
result.loc[result['코드'].isin(미국채권), '카테고리'] = '미국채권'
result.loc[result['코드'].isin(국내채권), '카테고리'] = '국내채권'
result.loc[result['코드'].isin(하이일드), '카테고리'] = '하이일드'
result.loc[result['코드'].isin(대채투자), '카테고리'] = '대채투자'
result

,코드,이름,평가금액,단가,수량,매입금액,비중,수익률,카테고리
0,0,현금,1057493,1.0,1057493,1057493,1.007173,0.000000,원화현금
1,114800,KODEX 인버스,501015,3945.0,127,499740,0.477175,0.255133,국내주식
2,283580,KODEX 차이나CSI300,215300,10765.0,20,202350,0.205055,6.399802,해외주식
3,284430,KODEX 200미국채혼합,513950,13525.0,38,478431,0.489494,7.424059,미국채권
4,329750,TIGER 미국달러단기채권액티브,1048050,12330.0,85,1013038,0.998179,3.456139,미국채권
5,360200,ACE 미국S&P500,8104040,19670.0,412,7196725,7.718415,12.607332,미국주식
6,365780,ACE 국고채10년,271035,90345.0,3,261365,0.258138,3.699807,국내채권
7,390390,KODEX 미국반도체MV,537180,25580.0,21,434120,0.511619,23.739980,미국주식
8,396500,TIGER Fn반도체TOP10,2472420,13890.0,178,2395175,2.354772,3.225025,국내주식
9,402970,ACE 미국배당다우존스,0,12150.0,0,0,0.000000,NaN,미국주식
10,411060,ACE KRX금현물,13584825,15705.0,865,12807244,12.938400,6.071416,대채투자
11,446720,SOL 미국배당다우존스,3289500,10965.0,300,3136694,3.132971,4.871562,미국주식
12,449170,TIGER KOFR금리액티브(합성),25849360,105940.0,244,25802624,24.619335,0.181129,원화현금
13,452360,SOL 미국배당다우존스(H),6581450,11155.0,590,6274595,6.268276,4.890435,미국주식
14,456880,ACE 미국달러SOFR금리(합성),4588430,11110.0,413,4527299,4.370093,1.350275,달러현금
15,464540,RISE 25-03 회사채(AA-이상)액티브,10394820,50955.0,204,10391800,9.900189,0.029061,국내채권
16,468380,KODEX iShares미국하이일드액티브,2648400,11035.0,240,2621950,2.522378,1.008791,하이일드
17,469050,RISE 미국반도체NYSE(H),599940,16665.0,36,477917,0.571392,25.532258,미국주식
18,473330,SOL 미국30년국채커버드콜(합성),14494200,10200.0,1421,13895869,13.804503,4.305819,미국채권
19,476750,ACE 미국30년국채엔화노출액티브(H),1024055,9395.0,109,982813,0.975326,4.196322,미국채권
20,480020,ACE 미국빅테크7+ 15%프리미엄분배(합성),4722000,11805.0,400,4867015,4.497307,-2.979547,미국주식
21,482730,TIGER 미국S&P500+10%프리미엄초단기,640200,10670.0,60,638850,0.609737,0.211317,미국주식
22,483230,RISE 25-06 은행채(AA+이상)액티브,1858510,50230.0,37,1858510,1.770074,0.000000,국내채권

In [27]:
# 새로운 '분류' 컬럼 추가
result['대분류'] = result['카테고리']
result.loc[result['카테고리'].str.contains('현금'), '대분류'] = '현금'
result.loc[result['카테고리'].str.contains('주식'), '대분류'] = '주식'
result.loc[result['카테고리'].str.contains('채권'), '대분류'] = '채권'
result.loc[result['카테고리'].str.contains('하이일드'), '대분류'] = '채권'
result

,코드,이름,평가금액,단가,수량,매입금액,비중,수익률,카테고리,대분류
0,0,현금,1057493,1.0,1057493,1057493,1.007173,0.000000,원화현금,현금
1,114800,KODEX 인버스,501015,3945.0,127,499740,0.477175,0.255133,국내주식,주식
2,283580,KODEX 차이나CSI300,215300,10765.0,20,202350,0.205055,6.399802,해외주식,주식
3,284430,KODEX 200미국채혼합,513950,13525.0,38,478431,0.489494,7.424059,미국채권,채권
4,329750,TIGER 미국달러단기채권액티브,1048050,12330.0,85,1013038,0.998179,3.456139,미국채권,채권
5,360200,ACE 미국S&P500,8104040,19670.0,412,7196725,7.718415,12.607332,미국주식,주식
6,365780,ACE 국고채10년,271035,90345.0,3,261365,0.258138,3.699807,국내채권,채권
7,390390,KODEX 미국반도체MV,537180,25580.0,21,434120,0.511619,23.739980,미국주식,주식
8,396500,TIGER Fn반도체TOP10,2472420,13890.0,178,2395175,2.354772,3.225025,국내주식,주식
9,402970,ACE 미국배당다우존스,0,12150.0,0,0,0.000000,NaN,미국주식,주식
10,411060,ACE KRX금현물,13584825,15705.0,865,12807244,12.938400,6.071416,대채투자,대채투자
11,446720,SOL 미국배당다우존스,3289500,10965.0,300,3136694,3.132971,4.871562,미국주식,주식
12,449170,TIGER KOFR금리액티브(합성),25849360,105940.0,244,25802624,24.619335,0.181129,원화현금,현금
13,452360,SOL 미국배당다우존스(H),6581450,11155.0,590,6274595,6.268276,4.890435,미국주식,주식
14,456880,ACE 미국달러SOFR금리(합성),4588430,11110.0,413,4527299,4.370093,1.350275,달러현금,현금
15,464540,RISE 25-03 회사채(AA-이상)액티브,10394820,50955.0,204,10391800,9.900189,0.029061,국내채권,채권
16,468380,KODEX iShares미국하이일드액티브,2648400,11035.0,240,2621950,2.522378,1.008791,하이일드,채권
17,469050,RISE 미국반도체NYSE(H),599940,16665.0,36,477917,0.571392,25.532258,미국주식,주식
18,473330,SOL 미국30년국채커버드콜(합성),14494200,10200.0,1421,13895869,13.804503,4.305819,미국채권,채권
19,476750,ACE 미국30년국채엔화노출액티브(H),1024055,9395.0,109,982813,0.975326,4.196322,미국채권,채권
20,480020,ACE 미국빅테크7+ 15%프리미엄분배(합성),4722000,11805.0,400,4867015,4.497307,-2.979547,미국주식,주식
21,482730,TIGER 미국S&P500+10%프리미엄초단기,640200,10670.0,60,638850,0.609737,0.211317,미국주식,주식
22,483230,RISE 25-06 은행채(AA+이상)액티브,1858510,50230.0,37,1858510,1.770074,0.000000,국내채권,채권

In [28]:
# 카테고리 별 비중 계산
대분류 = result.groupby('대분류').agg({
    '평가금액': 'sum',
    '단가': 'mean',
    '수량': 'sum',
    '매입금액': 'sum',
}).reset_index()

total_amount = 대분류['평가금액'].sum()
대분류['비중'] = 대분류['평가금액'] / total_amount * 100
대분류["수익률"] = (대분류["평가금액"] - 대분류["매입금액"]) / 대분류["매입금액"] * 100
대분류

    대분류      평가금액            단가       수량      매입금액         비중       수익률
0  대채투자  13584825  15705.000000      865  12807244  12.938400  6.071416
1    주식  27663045  13387.272727     2144  26123181  26.346717  5.894627
2    채권  32253020  31001.875000     2137  31503776  30.718282  2.378267
3    현금  31495283  39017.000000  1058150  31387416  29.996601  0.343663

In [29]:
# 카테고리 별 비중 계산
category_group = result.groupby('카테고리').agg({
    '평가금액': 'sum',
    '단가': 'mean',
    '수량': 'sum',
    '매입금액': 'sum',
}).reset_index()

total_amount = category_group['평가금액'].sum()
category_group['비중'] = category_group['평가금액'] / total_amount * 100
category_group["수익률"] = (category_group["평가금액"] - category_group["매입금액"]) / category_group["매입금액"] * 100
category_group

   카테고리      평가금액            단가       수량      매입금액         비중       수익률
0  국내주식   2973435   8917.500000      305   2894915   2.831946  2.712342
1  국내채권  12524365  63843.333333      244  12511675  11.928401  0.101425
2  달러현금   4588430  11110.000000      413   4527299   4.370093  1.350275
3  대채투자  13584825  15705.000000      865  12807244  12.938400  6.071416
4  미국주식  24474310  14832.500000     1819  23025916  23.309716  6.290277
5  미국채권  17080255  11362.500000     1653  16370151  16.267502  4.337797
6  원화현금  26906853  52970.500000  1057737  26860117  25.626508  0.173998
7  하이일드   2648400  11035.000000      240   2621950   2.522378  1.008791
8  해외주식    215300  10765.000000       20    202350   0.205055  6.399802

In [30]:
# '대분류'가 '채권'인 항목 필터링
bond_df = result[result['대분류'] == '채권']

# 총 평가금액 계산
total_bond_amount = bond_df['평가금액'].sum()

# 각각의 항목에 대해 비중 계산
bond_df.loc[:, '비중'] = bond_df['평가금액'] / total_bond_amount * 100
bond_df

,코드,이름,평가금액,단가,수량,매입금액,비중,수익률,카테고리,대분류
3,284430,KODEX 200미국채혼합,513950,13525.0,38,478431,1.593494,7.424059,미국채권,채권
4,329750,TIGER 미국달러단기채권액티브,1048050,12330.0,85,1013038,3.249463,3.456139,미국채권,채권
6,365780,ACE 국고채10년,271035,90345.0,3,261365,0.840340,3.699807,국내채권,채권
15,464540,RISE 25-03 회사채(AA-이상)액티브,10394820,50955.0,204,10391800,32.228982,0.029061,국내채권,채권
16,468380,KODEX iShares미국하이일드액티브,2648400,11035.0,240,2621950,8.211324,1.008791,하이일드,채권
18,473330,SOL 미국30년국채커버드콜(합성),14494200,10200.0,1421,13895869,44.939048,4.305819,미국채권,채권
19,476750,ACE 미국30년국채엔화노출액티브(H),1024055,9395.0,109,982813,3.175067,4.196322,미국채권,채권
22,483230,RISE 25-06 은행채(AA+이상)액티브,1858510,50230.0,37,1858510,5.762282,0.000000,국내채권,채권

In [31]:
# '대분류'가 '주식'인 항목 필터링
stock_df = result[result['대분류'] == '주식']

# 총 평가금액 계산
total_stock_amount = stock_df['평가금액'].sum()

# 각각의 항목에 대해 비중 계산
stock_df.loc[:, '비중'] = stock_df['평가금액'] / total_stock_amount * 100
stock_df

,코드,이름,평가금액,단가,수량,매입금액,비중,수익률,카테고리,대분류
1,114800,KODEX 인버스,501015,3945.0,127,499740,1.811135,0.255133,국내주식,주식
2,283580,KODEX 차이나CSI300,215300,10765.0,20,202350,0.778295,6.399802,해외주식,주식
5,360200,ACE 미국S&P500,8104040,19670.0,412,7196725,29.295546,12.607332,미국주식,주식
7,390390,KODEX 미국반도체MV,537180,25580.0,21,434120,1.941869,23.739980,미국주식,주식
8,396500,TIGER Fn반도체TOP10,2472420,13890.0,178,2395175,8.937628,3.225025,국내주식,주식
9,402970,ACE 미국배당다우존스,0,12150.0,0,0,0.000000,NaN,미국주식,주식
11,446720,SOL 미국배당다우존스,3289500,10965.0,300,3136694,11.891316,4.871562,미국주식,주식
13,452360,SOL 미국배당다우존스(H),6581450,11155.0,590,6274595,23.791488,4.890435,미국주식,주식
17,469050,RISE 미국반도체NYSE(H),599940,16665.0,36,477917,2.168742,25.532258,미국주식,주식
20,480020,ACE 미국빅테크7+ 15%프리미엄분배(합성),4722000,11805.0,400,4867015,17.069704,-2.979547,미국주식,주식
21,482730,TIGER 미국S&P500+10%프리미엄초단기,640200,10670.0,60,638850,2.314279,0.211317,미국주식,주식

In [32]:
# '대분류'가 '현금'인 항목 필터링
cash_df = result[result['대분류'] == '현금']

# 총 평가금액 계산
total_cash_amount = cash_df['평가금액'].sum()

# 각각의 항목에 대해 비중 계산
cash_df.loc[:, '비중'] = cash_df['평가금액'] / total_cash_amount * 100
cash_df

,코드,이름,평가금액,단가,수량,매입금액,비중,수익률,카테고리,대분류
0,0,현금,1057493,1.0,1057493,1057493,3.357623,0.000000,원화현금,현금
12,449170,TIGER KOFR금리액티브(합성),25849360,105940.0,244,25802624,82.073751,0.181129,원화현금,현금
14,456880,ACE 미국달러SOFR금리(합성),4588430,11110.0,413,4527299,14.568626,1.350275,달러현금,현금


## 최근 영업일

In [34]:
import requests as rq
from bs4 import BeautifulSoup

url = 'https://finance.naver.com/sise/sise_deposit.nhn'
data = rq.get(url)
data_html = BeautifulSoup(data.content)
parse_day = data_html.select_one(
    'div.subtop_sise_graph2 > ul.subtop_chart_note > li > span.tah').text

print(parse_day)

  |  2024.07.15

In [35]:
import re

biz_day = re.findall('[0-9]+', parse_day)
biz_day = ''.join(biz_day)

print(biz_day)

20240715