In [1]:
import keyring
from pprint import pprint

api_key_irp = keyring.get_password("irp_api_key", "birdblues")
api_secret_irp = keyring.get_password("irp_api_secret", "birdblues")

api_key_isa = keyring.get_password("isa_api_key", "birdblues")
api_secret_isa = keyring.get_password("isa_api_secret", "birdblues")

api_key_0 = keyring.get_password("api_key_0", "birdblues")
api_secret_0 = keyring.get_password("api_secret_0","birdblues")

api_key_1 = keyring.get_password("api_key_1", "birdblues")
api_secret_1 = keyring.get_password("api_secret_1","birdblues")

api_key_2 = keyring.get_password("api_key_2", "birdblues")
api_secret_2 = keyring.get_password("api_secret_2","birdblues")

# print(f"api_key_irp = {api_key_irp}")
# print(f"api_secret_irp = {api_secret_irp}")
# print(f"api_key_isa = {api_key_isa}")
# print(f"api_secret_isa = {api_secret_isa}")
# print(f"api_key_0 = {api_key_0}")
# print(f"api_secret_0 = {api_secret_0}")
# print(f"api_key_1 = {api_key_1}")
# print(f"api_secret_1 = {api_secret_1}")
# print(f"api_key_2 = {api_key_2}")
# print(f"api_secret_2 = {api_secret_2}")

In [2]:
acc_no_0 = "63981494-01" # 위탁
acc_no_1 = "64267316-22" # 연금저축 1
acc_no_2 = "64012548-22" # 연금저축 2
acc_no_isa = "64043278-01" # ISA
acc_no_irp = "64012548-29" # IRP

In [3]:
import keyring

token_0 = keyring.get_password("access_token_0", "birdblues")
token_1 = keyring.get_password("access_token_1", "birdblues")
token_2 = keyring.get_password("access_token_2", "birdblues")
token_3 = keyring.get_password("access_token_3", "birdblues")
token_4 = keyring.get_password("access_token_4", "birdblues")

# print(f"token_0 = {token_0}")
# print(f"token_1 = {token_1}")
# print(f"token_2 = {token_2}")
# print(f"token_3 = {token_3}")
# print(f"token_4 = {token_4}")

In [4]:
import requests
import json

def get_balance(access_token, app_key, app_secret, acc_no):
    
    url_base = "https://openapi.koreainvestment.com:9443"
    path = "/uapi/domestic-stock/v1/trading/inquire-balance"
    url = f"{url_base}/{path}"

    headers = {
        "Content-Type": "application/json; charset=utf-8",
        "authorization": f"Bearer {access_token}",
        "appKey": app_key,
        "appSecret": app_secret,
        "tr_id": "TTTC8434R"
    }

    params = {
        "CANO": acc_no[:8],  # 계좌번호 앞 8지리
        "ACNT_PRDT_CD": acc_no[-2:],  # 계좌번호 뒤 2자리
        "AFHR_FLPR_YN": "N",  # 시간외단일가여부
        "OFL_YN": "",  # 공란
        "INQR_DVSN": "01",  # 조회구분
        "UNPR_DVSN": "01",  # 단가구분
        "FUND_STTL_ICLD_YN": "N",  # 펀드결제분포함여부
        "FNCG_AMT_AUTO_RDPT_YN": "N",  # 융자금액자동상환여부        
        "PRCS_DVSN": "00",  # 처리구분(00: 전일매매포함)
        "CTX_AREA_FK100": "",  # 연속조회검색조건
        "CTX_AREA_NK100": ""  # 연속조회키
    }
    res = requests.get(url, headers=headers, params=params)
    return res.json()

In [5]:
def get_balance_irp(access_token, app_key, app_secret, acc_no):
    
    url_base = "https://openapi.koreainvestment.com:9443"
    path = "/uapi/domestic-stock/v1/trading/pension/inquire-balance"
    url = f"{url_base}/{path}"

    headers = {
        "Content-Type": "application/json; charset=utf-8",
        "authorization": f"Bearer {access_token}",
        "appKey": app_key,
        "appSecret": app_secret,
        "tr_id": "TTTC2208R"
    }

    params = {
        "CANO": acc_no[:8],  # 계좌번호 앞 8지리
        "ACNT_PRDT_CD": acc_no[-2:],  # 계좌번호 뒤 2자리
        "ACCA_DVSN_CD":"00",
        "INQR_DVSN":"00",
        "CTX_AREA_FK100": "",  # 연속조회검색조건
        "CTX_AREA_NK100": ""  # 연속조회키
    }
    res = requests.get(url, headers=headers, params=params)
    return res.json()

In [6]:
json_0 = get_balance(token_0, api_key_0, api_secret_0, acc_no_0)
json_1 = get_balance(token_1, api_key_1, api_secret_1, acc_no_1)
json_2 = get_balance(token_2, api_key_2, api_secret_2, acc_no_2)
json_3 = get_balance(token_3, api_key_isa, api_secret_isa, acc_no_isa)
json_4 = get_balance_irp(token_4, api_key_irp, api_secret_irp, acc_no_irp)
json_4

{'ctx_area_fk100': '64012548^29^00^00^                                                                                  ',
 'ctx_area_nk100': '                                                                                                    ',
 'output1': [{'cblc_dvsn_name': '사용자',
   'prdt_name': 'KODEX 차이나CSI300',
   'pdno': '283580',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '0',
   'hldg_qty': '22',
   'ord_psbl_qty': '22',
   'pchs_avg_pric': '10110.9091',
   'pchs_amt': '222440',
   'prpr': '9655',
   'evlu_amt': '212410',
   'evlu_pfls_amt': '-10030',
   'evlu_erng_rt': '-4.50908110'},
  {'cblc_dvsn_name': '사용자',
   'prdt_name': 'KODEX 200미국채혼합',
   'pdno': '284430',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '0',
   'hldg_qty': '42',
   'ord_psbl_qty': '42',
   'pchs_avg_pric': '12622.7619',
   'pchs_amt': '530156',
   'prpr': '12770',
   'evlu_amt': '536340',
   'evlu_pfls_amt': '6184',
   'evlu_erng_rt': '1.16644912'},
  {'cblc_dvsn_name': '사용자',
   'prdt_name': 'ACE 미국S&P500',
   'pdno': '360200',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '114',
   'thdt_sll_qty': '0',
   'hldg_qty': '210',
   'ord_psbl_qty': '210',
   'pchs_avg_pric': '18133.3238',
   'pchs_amt': '3807998',
   'prpr': '18785',
   'evlu_amt': '3944850',
   'evlu_pfls_amt': '136852',
   'evlu_erng_rt': '3.59380441'},
  {'cblc_dvsn_name': '사용자',
   'prdt_name': 'ACE 국고채10년',
   'pdno': '365780',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '0',
   'hldg_qty': '3',
   'ord_psbl_qty': '3',
   'pchs_avg_pric': '87121.6667',
   'pchs_amt': '261365',
   'prpr': '91950',
   'evlu_amt': '275850',
   'evlu_pfls_amt': '14485',
   'evlu_erng_rt': '5.54205804'},
  {'cblc_dvsn_name': '사용자',
   'prdt_name': 'ACE KRX금현물',
   'pdno': '411060',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '0',
   'hldg_qty': '351',
   'ord_psbl_qty': '351',
   'pchs_avg_pric': '15069.1994',
   'pchs_amt': '5289289',
   'prpr': '15570',
   'evlu_amt': '5465070',
   'evlu_pfls_amt': '175781',
   'evlu_erng_rt': '3.32333892'},
  {'cblc_dvsn_name': '사용자',
   'prdt_name': 'TIGER KOFR금리액티브(합성)',
   'pdno': '449170',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '0',
   'hldg_qty': '61',
   'ord_psbl_qty': '61',
   'pchs_avg_pric': '105742.2295',
   'pchs_amt': '6450276',
   'prpr': '106600',
   'evlu_amt': '6502600',
   'evlu_pfls_amt': '52324',
   'evlu_erng_rt': '0.81119009'},
  {'cblc_dvsn_name': '사용자',
   'prdt_name': 'ACE 미국달러SOFR금리(합성)',
   'pdno': '456880',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '190',
   'hldg_qty': '300',
   'ord_psbl_qty': '300',
   'pchs_avg_pric': '10957.0167',
   'pchs_amt': '3287105',
   'prpr': '10815',
   'evlu_amt': '3244500',
   'evlu_pfls_amt': '-42605',
   'evlu_erng_rt': '-1.29612531'},
  {'cblc_dvsn_name': '사용자',
   'prdt_name': 'RISE 25-03 회사채(AA-이상)액티브',
   'pdno': '464540',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '0',
   'hldg_qty': '167',
   'ord_psbl_qty': '167',
   'pchs_avg_pric': '50940.3293',
   'pchs_amt': '8507035',
   'prpr': '51080',
   'evlu_amt': '8530360',
   'evlu_pfls_amt': '23325',
   'evlu_erng_rt': '0.27418484'},
  {'cblc_dvsn_name': '사용자',
   'prdt_name': 'KODEX iShares미국하이일드액티브',
   'pdno': '468380',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '0',
   'hldg_qty': '280',
   'ord_psbl_qty': '280',
   'pchs_avg_pric': '10893.7500',
   'pchs_amt': '3050250',
   'prpr': '10760',
   'evlu_amt': '3012800',
   'evlu_pfls_amt': '-37450',
   'evlu_erng_rt': '-1.22776822'},
  {'cblc_dvsn_name': '사용자',
   'prdt_name': 'RISE 글로벌리얼티인컴',
   'pdno': '475380',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '0',
   'hldg_qty': '158',
   'ord_psbl_qty': '158',
   'pchs_avg_pric': '10357.1203',
   'pchs_amt': '1636425',
   'prpr': '10815',
   'evlu_amt': '1708770',
   'evlu_pfls_amt': '72345',
   'evlu_erng_rt': '4.42091755'},
  {'cblc_dvsn_name': '사용자',
   'prdt_name': 'KODEX 미국배당다우존스',
   'pdno': '489250',
   'item_dvsn_name': '현금',
   'thdt_buyqty': '0',
   'thdt_sll_qty': '0',
   'hldg_qty': '101',
   'ord_psbl_qty': '101',
   'pchs_avg_pric': '10132.0297',
   'pchs_amt': '1023335',
   'prpr': '10015',
   'evlu_amt': '1011515',
   'evlu_pfls_amt': '-11820',
   'evlu_erng_rt': '-1.15504698'}],
 'output2': {'dnca_tot_amt': '94950',
  'nxdy_excc_amt': '94950',
  'prvs_rcdl_excc_amt': '5080',
  'thdt_buy_amt': '2146620',
  'thdt_sll_amt': '2056750',
  'thdt_tlex_amt': '0',
  'scts_evlu_amt': '34445065',
  'tot_evlu_amt': '34450145'},
 'rt_cd': '0',
 'msg_cd': 'KIOK0510',
 'msg1': '조회가 완료되었습니다                                                           '}

In [7]:
import pandas as pd

pd.options.display.float_format = '{:.2f}'.format

def get_balance_json(json):
    cash = json['output2'][0]['prvs_rcdl_excc_amt']
    ap = pd.DataFrame.from_records(json['output1'])
    if(ap.size > 0):
        ap = ap[["pdno", "prdt_name", "evlu_amt", "prpr", "hldg_qty", "pchs_amt", "pchs_avg_pric", "evlu_pfls_rt"]]
        ap.columns = ["코드", "이름", "평가금액", "단가", "수량", "매입금액", "매입단가", "수익률"]
        new_row = {"코드": "0", "이름": "현금", "평가금액": cash, "단가": 1, "수량": cash, "매입금액": cash, "매입단가": 1, "수익률": 0}
        new_row_df = pd.DataFrame([new_row])

        # concat을 사용하여 새로운 행 추가
        ap = pd.concat([ap, new_row_df], ignore_index=True)
        
        # 데이터 타입 변환
        ap["평가금액"] = pd.to_numeric(ap["평가금액"], errors='coerce')
        ap["매입금액"] = pd.to_numeric(ap["매입금액"], errors='coerce')
        ap["단가"] = pd.to_numeric(ap["단가"], errors='coerce')
        ap["매입단가"] = pd.to_numeric(ap["매입단가"], errors='coerce')
        ap["수량"] = pd.to_numeric(ap["수량"], errors='coerce')
        ap["수익률"] = pd.to_numeric(ap["수익률"], errors='coerce')
        ap["계좌"] = json['ctx_area_fk100'][:8] + '-' + json['ctx_area_fk100'][9:11]
    return ap

In [8]:
import pandas as pd


def get_balance_json_irp(json):
    cash = json['output2']['prvs_rcdl_excc_amt']
    ap = pd.DataFrame.from_records(json['output1'])
    if(ap.size > 0):
        ap = ap[["pdno", "prdt_name", "evlu_amt", "prpr", "hldg_qty", "pchs_amt", "pchs_avg_pric", "evlu_erng_rt"]]
        ap.columns = ["코드", "이름", "평가금액", "단가", "수량", "매입금액", "매입단가", "수익률"]
        new_row = {"코드": "0", "이름": "현금", "평가금액": cash, "단가": 1, "수량": cash, "매입금액": cash, "매입단가": 1, "수익률": 0}
        new_row_df = pd.DataFrame([new_row])

        # concat을 사용하여 새로운 행 추가
        ap = pd.concat([ap, new_row_df], ignore_index=True)

        # 데이터 타입 변환
        ap["평가금액"] = pd.to_numeric(ap["평가금액"], errors='coerce')
        ap["매입금액"] = pd.to_numeric(ap["매입금액"], errors='coerce')
        ap["단가"] = pd.to_numeric(ap["단가"], errors='coerce')
        ap["매입단가"] = pd.to_numeric(ap["매입단가"], errors='coerce')
        ap["수량"] = pd.to_numeric(ap["수량"], errors='coerce')
        ap["수익률"] = pd.to_numeric(ap["수익률"], errors='coerce')
        ap["계좌"] = json['ctx_area_fk100'][:8] + '-' + json['ctx_area_fk100'][9:11]
    return ap

In [9]:
df_0 = get_balance_json(json_0)
df_1 = get_balance_json(json_1)
df_2 = get_balance_json(json_2)
df_3 = get_balance_json(json_3)
df_4 = get_balance_json_irp(json_4)
df = pd.concat([df_0, df_1, df_2, df_3, df_4], ignore_index=True)
# df_0 = df_0.sort_values(by='이름')
df_1 = df_1.sort_values(by='이름')
df_2 = df_2.sort_values(by='이름')
df_3 = df_3.sort_values(by='이름')
df_4 = df_4.sort_values(by='이름')

total_1 = df_1["평가금액"].sum()
total_2 = df_2["평가금액"].sum()
total_3 = df_3["평가금액"].sum()
total_4 = df_4["평가금액"].sum()

In [10]:
df_1["비중"] = df_1["평가금액"] / total_1 * 100
df_1

,코드,이름,평가금액,단가,수량,매입금액,매입단가,수익률,계좌,비중
2,411060,ACE KRX금현물,8454510,15570,543,8142151,14994.75,3.83,64267316-22,17.14
10,476750,ACE 미국30년국채엔화노출액티브(H),429800,10745,40,360665,9016.62,19.16,64267316-22,0.87
1,360200,ACE 미국S&P500,5879705,18785,313,5518930,17632.36,6.53,64267316-22,11.92
5,456880,ACE 미국달러SOFR금리(합성),3244500,10815,300,3252692,10842.31,-0.25,64267316-22,6.58
11,480020,ACE 미국빅테크7+ 15%프리미엄분배(합성),1046500,10465,100,1174723,11747.23,-10.91,64267316-22,2.12
7,468380,KODEX iShares미국하이일드액티브,2044400,10760,190,2070850,10899.21,-1.27,64267316-22,4.14
4,453810,KODEX 인도Nifty50,1116000,13950,80,1080800,13510.00,3.25,64267316-22,2.26
6,464540,RISE 25-03 회사채(AA-이상)액티브,2400760,51080,47,2394495,50946.70,0.26,64267316-22,4.87
9,475380,RISE 글로벌리얼티인컴,919275,10815,85,893675,10513.82,2.86,64267316-22,1.86
8,473330,SOL 미국30년국채커버드콜(합성),10285275,10275,1001,9694000,9684.32,6.09,64267316-22,20.85
3,446720,SOL 미국배당다우존스,5367500,10735,500,5298622,10597.24,1.29,64267316-22,10.88
12,482730,TIGER 미국S&P500+10%프리미엄초단기,7889250,10050,785,8122505,10347.14,-2.87,64267316-22,15.99
0,329750,TIGER 미국달러단기채권액티브,240100,12005,20,239725,11986.25,0.15,64267316-22,0.49
13,0,현금,18524,1,18524,18524,1.00,0.00,64267316-22,0.04

In [11]:
total_1

49336099

In [12]:
df_2

,코드,이름,평가금액,단가,수량,매입금액,매입단가,수익률,계좌
4,411060,ACE KRX금현물,3114000,15570,200,3088150,15440.75,0.83,64012548-22
2,360200,ACE 미국S&P500,2911675,18785,155,2825275,18227.58,3.05,64012548-22
7,456880,ACE 미국달러SOFR금리(합성),1081500,10815,100,1078883,10788.83,0.24,64012548-22
0,218420,KODEX 미국S&P500에너지(합성),471780,13105,36,471060,13085.00,0.15,64012548-22
3,390390,KODEX 미국반도체MV,0,21320,0,0,0.00,0.00,64012548-22
11,483230,RISE 25-06 은행채(AA+이상)액티브,1869055,50515,37,1858510,50230.00,0.56,64012548-22
10,475380,RISE 글로벌리얼티인컴,0,10815,0,0,0.00,0.00,64012548-22
8,469050,RISE 미국반도체NYSE(H),0,14010,0,0,0.00,0.00,64012548-22
9,473330,SOL 미국30년국채커버드콜(합성),0,10275,0,0,0.00,0.00,64012548-22
5,446720,SOL 미국배당다우존스,515280,10735,48,514840,10725.83,0.08,64012548-22
6,449170,TIGER KOFR금리액티브(합성),2132000,106600,20,2116370,105818.50,0.73,64012548-22
1,329750,TIGER 미국달러단기채권액티브,1020425,12005,85,1013038,11918.09,0.72,64012548-22
12,0,현금,93939,1,93939,93939,1.00,0.00,64012548-22

In [13]:
total_2

13209654

In [14]:
df_3

,코드,이름,평가금액,단가,수량,매입금액,매입단가,수익률,계좌
5,411060,ACE KRX금현물,1557000,15570,100,1503547,15035.47,3.55,64043278-01
4,360200,ACE 미국S&P500,995605,18785,53,998520,18840.00,-0.29,64043278-01
1,218420,KODEX 미국S&P500에너지(합성),1389130,13105,106,1415195,13350.90,-1.84,64043278-01
0,114800,KODEX 인버스,111625,4465,25,102315,4092.60,9.09,64043278-01
2,295040,SOL 200TR,995600,12445,80,983850,12298.12,1.19,64043278-01
3,329750,TIGER 미국달러단기채권액티브,2401000,12005,200,2403449,12017.25,-0.10,64043278-01
6,0,현금,26050,1,26050,26050,1.00,0.00,64043278-01

In [15]:
total_3

7476010

In [16]:
df_4

,코드,이름,평가금액,단가,수량,매입금액,매입단가,수익률,계좌
4,411060,ACE KRX금현물,5465070,15570,351,5289289,15069.20,3.32,64012548-29
3,365780,ACE 국고채10년,275850,91950,3,261365,87121.67,5.54,64012548-29
2,360200,ACE 미국S&P500,3944850,18785,210,3807998,18133.32,3.59,64012548-29
6,456880,ACE 미국달러SOFR금리(합성),3244500,10815,300,3287105,10957.02,-1.30,64012548-29
1,284430,KODEX 200미국채혼합,536340,12770,42,530156,12622.76,1.17,64012548-29
8,468380,KODEX iShares미국하이일드액티브,3012800,10760,280,3050250,10893.75,-1.23,64012548-29
10,489250,KODEX 미국배당다우존스,1011515,10015,101,1023335,10132.03,-1.16,64012548-29
0,283580,KODEX 차이나CSI300,212410,9655,22,222440,10110.91,-4.51,64012548-29
7,464540,RISE 25-03 회사채(AA-이상)액티브,8530360,51080,167,8507035,50940.33,0.27,64012548-29
9,475380,RISE 글로벌리얼티인컴,1708770,10815,158,1636425,10357.12,4.42,64012548-29
5,449170,TIGER KOFR금리액티브(합성),6502600,106600,61,6450276,105742.23,0.81,64012548-29
11,0,현금,5080,1,5080,5080,1.00,0.00,64012548-29

In [17]:
total_4

34450145

In [18]:
# 그룹화하여 조건에 맞게 계산
result = df.groupby('코드').agg({
    '이름': 'first',
    '평가금액': 'sum',
    '단가': 'mean',
    '수량': 'sum',
    '매입금액': 'sum',
    '매입단가': 'mean',
}).reset_index()

result["비중"] = result["평가금액"] / result["평가금액"].sum() * 100
result["수익률"] = (result["평가금액"] - result["매입금액"]) / result["매입금액"] * 100
result.dropna(inplace=True)

# 결과 출력
result

,코드,이름,평가금액,단가,수량,매입금액,매입단가,비중,수익률
0,0,현금,143593,1.00,143593,143593,1.00,0.14,0.00
1,114800,KODEX 인버스,111625,4465.00,25,102315,4092.60,0.11,9.10
2,218420,KODEX 미국S&P500에너지(합성),1860910,13105.00,142,1886255,13217.95,1.78,-1.34
3,283580,KODEX 차이나CSI300,212410,9655.00,22,222440,10110.91,0.20,-4.51
4,284430,KODEX 200미국채혼합,536340,12770.00,42,530156,12622.76,0.51,1.17
5,295040,SOL 200TR,995600,12445.00,80,983850,12298.12,0.95,1.19
6,329750,TIGER 미국달러단기채권액티브,3661525,12005.00,305,3656212,11973.86,3.50,0.15
7,360200,ACE 미국S&P500,13731835,18785.00,731,13150723,18208.32,13.14,4.42
8,365780,ACE 국고채10년,275850,91950.00,3,261365,87121.67,0.26,5.54
10,411060,ACE KRX금현물,18590580,15570.00,1194,18023137,15135.04,17.79,3.15
11,446720,SOL 미국배당다우존스,5882780,10735.00,548,5813462,10661.54,5.63,1.19
12,449170,TIGER KOFR금리액티브(합성),8634600,106600.00,81,8566646,105780.36,8.26,0.79
13,453810,KODEX 인도Nifty50,1116000,13950.00,80,1080800,13510.00,1.07,3.26
14,456880,ACE 미국달러SOFR금리(합성),7570500,10815.00,700,7618680,10862.72,7.25,-0.63
15,464540,RISE 25-03 회사채(AA-이상)액티브,10931120,51080.00,214,10901530,50943.52,10.46,0.27
16,468380,KODEX iShares미국하이일드액티브,5057200,10760.00,470,5121100,10896.48,4.84,-1.25
18,473330,SOL 미국30년국채커버드콜(합성),10285275,10275.00,1001,9694000,4842.16,9.85,6.10
19,475380,RISE 글로벌리얼티인컴,2628045,10815.00,243,2530100,6956.98,2.52,3.87
20,476750,ACE 미국30년국채엔화노출액티브(H),429800,10745.00,40,360665,9016.62,0.41,19.17
21,480020,ACE 미국빅테크7+ 15%프리미엄분배(합성),1046500,10465.00,100,1174723,11747.23,1.00,-10.92
22,482730,TIGER 미국S&P500+10%프리미엄초단기,7889250,10050.00,785,8122505,10347.14,7.55,-2.87
23,483230,RISE 25-06 은행채(AA+이상)액티브,1869055,50515.00,37,1858510,50230.00,1.79,0.57
24,489250,KODEX 미국배당다우존스,1011515,10015.00,101,1023335,10132.03,0.97,-1.16

In [19]:
eval_total = result['평가금액'].sum()
eval_total

104471908

In [20]:
# 카테고리 분류
# 114800	KODEX 인버스
# 283580	KODEX 차이나CSI300
# 284430	KODEX 200미국채혼합
# 329750	TIGER 미국달러단기채권액티브

원화현금 = ["0", "449170", "464540", "483230"]
달러현금 = ["456880", "468380", "329750"]
국내주식 = ["396500", "114800", "295040"]
미국주식 = ["360200", "390390", "402970", "469050", "480020", "482730", "446720", "452360", "489250", "218420"]
해외주식 = ["283580", "453810"]
미국채권 = ["284430", "473330", "476750"]
국내채권 = ["365780" ]
대채투자 = ["411060", "475380"]

result['카테고리'] = '기타'
result.loc[result['코드'].isin(원화현금), '카테고리'] = '원화현금'
result.loc[result['코드'].isin(달러현금), '카테고리'] = '달러현금'
result.loc[result['코드'].isin(국내주식), '카테고리'] = '국내주식'
result.loc[result['코드'].isin(미국주식), '카테고리'] = '미국주식'
result.loc[result['코드'].isin(해외주식), '카테고리'] = '해외주식'
result.loc[result['코드'].isin(미국채권), '카테고리'] = '미국채권'
result.loc[result['코드'].isin(국내채권), '카테고리'] = '국내채권'
result.loc[result['코드'].isin(대채투자), '카테고리'] = '대채투자'
result.sort_values(by='카테고리', inplace=True)
result

,코드,이름,평가금액,단가,수량,매입금액,매입단가,비중,수익률,카테고리
1,114800,KODEX 인버스,111625,4465.00,25,102315,4092.60,0.11,9.10,국내주식
5,295040,SOL 200TR,995600,12445.00,80,983850,12298.12,0.95,1.19,국내주식
8,365780,ACE 국고채10년,275850,91950.00,3,261365,87121.67,0.26,5.54,국내채권
14,456880,ACE 미국달러SOFR금리(합성),7570500,10815.00,700,7618680,10862.72,7.25,-0.63,달러현금
6,329750,TIGER 미국달러단기채권액티브,3661525,12005.00,305,3656212,11973.86,3.50,0.15,달러현금
16,468380,KODEX iShares미국하이일드액티브,5057200,10760.00,470,5121100,10896.48,4.84,-1.25,달러현금
19,475380,RISE 글로벌리얼티인컴,2628045,10815.00,243,2530100,6956.98,2.52,3.87,대채투자
10,411060,ACE KRX금현물,18590580,15570.00,1194,18023137,15135.04,17.79,3.15,대채투자
21,480020,ACE 미국빅테크7+ 15%프리미엄분배(합성),1046500,10465.00,100,1174723,11747.23,1.00,-10.92,미국주식
11,446720,SOL 미국배당다우존스,5882780,10735.00,548,5813462,10661.54,5.63,1.19,미국주식
24,489250,KODEX 미국배당다우존스,1011515,10015.00,101,1023335,10132.03,0.97,-1.16,미국주식
22,482730,TIGER 미국S&P500+10%프리미엄초단기,7889250,10050.00,785,8122505,10347.14,7.55,-2.87,미국주식
2,218420,KODEX 미국S&P500에너지(합성),1860910,13105.00,142,1886255,13217.95,1.78,-1.34,미국주식
7,360200,ACE 미국S&P500,13731835,18785.00,731,13150723,18208.32,13.14,4.42,미국주식
4,284430,KODEX 200미국채혼합,536340,12770.00,42,530156,12622.76,0.51,1.17,미국채권
20,476750,ACE 미국30년국채엔화노출액티브(H),429800,10745.00,40,360665,9016.62,0.41,19.17,미국채권
18,473330,SOL 미국30년국채커버드콜(합성),10285275,10275.00,1001,9694000,4842.16,9.85,6.10,미국채권
0,0,현금,143593,1.00,143593,143593,1.00,0.14,0.00,원화현금
23,483230,RISE 25-06 은행채(AA+이상)액티브,1869055,50515.00,37,1858510,50230.00,1.79,0.57,원화현금
15,464540,RISE 25-03 회사채(AA-이상)액티브,10931120,51080.00,214,10901530,50943.52,10.46,0.27,원화현금
12,449170,TIGER KOFR금리액티브(합성),8634600,106600.00,81,8566646,105780.36,8.26,0.79,원화현금
13,453810,KODEX 인도Nifty50,1116000,13950.00,80,1080800,13510.00,1.07,3.26,해외주식
3,283580,KODEX 차이나CSI300,212410,9655.00,22,222440,10110.91,0.20,-4.51,해외주식

In [21]:
# 새로운 '분류' 컬럼 추가
result['대분류'] = result['카테고리']
result.loc[result['카테고리'].str.contains('현금'), '대분류'] = '현금'
result.loc[result['카테고리'].str.contains('주식'), '대분류'] = '주식'
result.loc[result['카테고리'].str.contains('채권'), '대분류'] = '채권'
result

,코드,이름,평가금액,단가,수량,매입금액,매입단가,비중,수익률,카테고리,대분류
1,114800,KODEX 인버스,111625,4465.00,25,102315,4092.60,0.11,9.10,국내주식,주식
5,295040,SOL 200TR,995600,12445.00,80,983850,12298.12,0.95,1.19,국내주식,주식
8,365780,ACE 국고채10년,275850,91950.00,3,261365,87121.67,0.26,5.54,국내채권,채권
14,456880,ACE 미국달러SOFR금리(합성),7570500,10815.00,700,7618680,10862.72,7.25,-0.63,달러현금,현금
6,329750,TIGER 미국달러단기채권액티브,3661525,12005.00,305,3656212,11973.86,3.50,0.15,달러현금,현금
16,468380,KODEX iShares미국하이일드액티브,5057200,10760.00,470,5121100,10896.48,4.84,-1.25,달러현금,현금
19,475380,RISE 글로벌리얼티인컴,2628045,10815.00,243,2530100,6956.98,2.52,3.87,대채투자,대채투자
10,411060,ACE KRX금현물,18590580,15570.00,1194,18023137,15135.04,17.79,3.15,대채투자,대채투자
21,480020,ACE 미국빅테크7+ 15%프리미엄분배(합성),1046500,10465.00,100,1174723,11747.23,1.00,-10.92,미국주식,주식
11,446720,SOL 미국배당다우존스,5882780,10735.00,548,5813462,10661.54,5.63,1.19,미국주식,주식
24,489250,KODEX 미국배당다우존스,1011515,10015.00,101,1023335,10132.03,0.97,-1.16,미국주식,주식
22,482730,TIGER 미국S&P500+10%프리미엄초단기,7889250,10050.00,785,8122505,10347.14,7.55,-2.87,미국주식,주식
2,218420,KODEX 미국S&P500에너지(합성),1860910,13105.00,142,1886255,13217.95,1.78,-1.34,미국주식,주식
7,360200,ACE 미국S&P500,13731835,18785.00,731,13150723,18208.32,13.14,4.42,미국주식,주식
4,284430,KODEX 200미국채혼합,536340,12770.00,42,530156,12622.76,0.51,1.17,미국채권,채권
20,476750,ACE 미국30년국채엔화노출액티브(H),429800,10745.00,40,360665,9016.62,0.41,19.17,미국채권,채권
18,473330,SOL 미국30년국채커버드콜(합성),10285275,10275.00,1001,9694000,4842.16,9.85,6.10,미국채권,채권
0,0,현금,143593,1.00,143593,143593,1.00,0.14,0.00,원화현금,현금
23,483230,RISE 25-06 은행채(AA+이상)액티브,1869055,50515.00,37,1858510,50230.00,1.79,0.57,원화현금,현금
15,464540,RISE 25-03 회사채(AA-이상)액티브,10931120,51080.00,214,10901530,50943.52,10.46,0.27,원화현금,현금
12,449170,TIGER KOFR금리액티브(합성),8634600,106600.00,81,8566646,105780.36,8.26,0.79,원화현금,현금
13,453810,KODEX 인도Nifty50,1116000,13950.00,80,1080800,13510.00,1.07,3.26,해외주식,주식
3,283580,KODEX 차이나CSI300,212410,9655.00,22,222440,10110.91,0.20,-4.51,해외주식,주식

In [22]:
# 카테고리 별 비중 계산
대분류 = result.groupby('대분류').agg({
    '평가금액': 'sum',
    '단가': 'mean',
    '수량': 'sum',
    '매입금액': 'sum',
}).reset_index()

total_amount = 대분류['평가금액'].sum()
대분류['비중'] = 대분류['평가금액'] / total_amount * 100
대분류["수익률"] = (대분류["평가금액"] - 대분류["매입금액"]) / 대분류["매입금액"] * 100
대분류

    대분류      평가금액       단가      수량      매입금액    비중  수익률
0  대채투자  21218625 13192.50    1437  20553237 20.31 3.24
1    주식  33858425 11367.00    2614  33560408 32.41 0.89
2    채권  11527265 31435.00    1086  10846186 11.03 6.28
3    현금  37867593 34539.43  145400  37866271 36.25 0.00

In [23]:
# 카테고리 별 비중 계산
category_group = result.groupby('카테고리').agg({
    '평가금액': 'sum',
    '단가': 'mean',
    '수량': 'sum',
    '매입금액': 'sum',
}).reset_index()

total_amount = category_group['평가금액'].sum()
category_group['비중'] = category_group['평가금액'] / total_amount * 100
category_group["수익률"] = (category_group["평가금액"] - category_group["매입금액"]) / category_group["매입금액"] * 100
category_group

   카테고리      평가금액       단가      수량      매입금액    비중   수익률
0  국내주식   1107225  8455.00     105   1086165  1.06  1.94
1  국내채권    275850 91950.00       3    261365  0.26  5.54
2  달러현금  16289225 11193.33    1475  16395992 15.59 -0.65
3  대채투자  21218625 13192.50    1437  20553237 20.31  3.24
4  미국주식  31422790 12192.50    2407  31171003 30.08  0.81
5  미국채권  11251415 11263.33    1083  10584821 10.77  6.30
6  원화현금  21578368 52049.00  143925  21470279 20.65  0.50
7  해외주식   1328410 11802.50     102   1303240  1.27  1.93

In [24]:
# '대분류'가 '채권'인 항목 필터링
bond_df = result[result['대분류'] == '채권']

# 총 평가금액 계산
total_bond_amount = bond_df['평가금액'].sum()

# 각각의 항목에 대해 비중 계산
bond_df.loc[:, '비중'] = bond_df['평가금액'] / total_bond_amount * 100
bond_df

,코드,이름,평가금액,단가,수량,매입금액,매입단가,비중,수익률,카테고리,대분류
8,365780,ACE 국고채10년,275850,91950.00,3,261365,87121.67,2.39,5.54,국내채권,채권
4,284430,KODEX 200미국채혼합,536340,12770.00,42,530156,12622.76,4.65,1.17,미국채권,채권
20,476750,ACE 미국30년국채엔화노출액티브(H),429800,10745.00,40,360665,9016.62,3.73,19.17,미국채권,채권
18,473330,SOL 미국30년국채커버드콜(합성),10285275,10275.00,1001,9694000,4842.16,89.23,6.10,미국채권,채권

In [25]:
# '대분류'가 '주식'인 항목 필터링
stock_df = result[result['대분류'] == '주식']

# 총 평가금액 계산
total_stock_amount = stock_df['평가금액'].sum()

# 각각의 항목에 대해 비중 계산
stock_df.loc[:, '비중'] = stock_df['평가금액'] / total_stock_amount * 100
stock_df

,코드,이름,평가금액,단가,수량,매입금액,매입단가,비중,수익률,카테고리,대분류
1,114800,KODEX 인버스,111625,4465.00,25,102315,4092.60,0.33,9.10,국내주식,주식
5,295040,SOL 200TR,995600,12445.00,80,983850,12298.12,2.94,1.19,국내주식,주식
21,480020,ACE 미국빅테크7+ 15%프리미엄분배(합성),1046500,10465.00,100,1174723,11747.23,3.09,-10.92,미국주식,주식
11,446720,SOL 미국배당다우존스,5882780,10735.00,548,5813462,10661.54,17.37,1.19,미국주식,주식
24,489250,KODEX 미국배당다우존스,1011515,10015.00,101,1023335,10132.03,2.99,-1.16,미국주식,주식
22,482730,TIGER 미국S&P500+10%프리미엄초단기,7889250,10050.00,785,8122505,10347.14,23.30,-2.87,미국주식,주식
2,218420,KODEX 미국S&P500에너지(합성),1860910,13105.00,142,1886255,13217.95,5.50,-1.34,미국주식,주식
7,360200,ACE 미국S&P500,13731835,18785.00,731,13150723,18208.32,40.56,4.42,미국주식,주식
13,453810,KODEX 인도Nifty50,1116000,13950.00,80,1080800,13510.00,3.30,3.26,해외주식,주식
3,283580,KODEX 차이나CSI300,212410,9655.00,22,222440,10110.91,0.63,-4.51,해외주식,주식

In [26]:
# '대분류'가 '현금'인 항목 필터링
cash_df = result[result['대분류'] == '현금']

# 총 평가금액 계산
total_cash_amount = cash_df['평가금액'].sum()

# 각각의 항목에 대해 비중 계산
cash_df.loc[:, '비중'] = cash_df['평가금액'] / total_cash_amount * 100
cash_df

,코드,이름,평가금액,단가,수량,매입금액,매입단가,비중,수익률,카테고리,대분류
14,456880,ACE 미국달러SOFR금리(합성),7570500,10815.00,700,7618680,10862.72,19.99,-0.63,달러현금,현금
6,329750,TIGER 미국달러단기채권액티브,3661525,12005.00,305,3656212,11973.86,9.67,0.15,달러현금,현금
16,468380,KODEX iShares미국하이일드액티브,5057200,10760.00,470,5121100,10896.48,13.35,-1.25,달러현금,현금
0,0,현금,143593,1.00,143593,143593,1.00,0.38,0.00,원화현금,현금
23,483230,RISE 25-06 은행채(AA+이상)액티브,1869055,50515.00,37,1858510,50230.00,4.94,0.57,원화현금,현금
15,464540,RISE 25-03 회사채(AA-이상)액티브,10931120,51080.00,214,10901530,50943.52,28.87,0.27,원화현금,현금
12,449170,TIGER KOFR금리액티브(합성),8634600,106600.00,81,8566646,105780.36,22.80,0.79,원화현금,현금


## 최근 영업일

In [27]:
import requests as rq
from bs4 import BeautifulSoup

url = 'https://finance.naver.com/sise/sise_deposit.nhn'
data = rq.get(url)
data_html = BeautifulSoup(data.content)
parse_day = data_html.select_one(
    'div.subtop_sise_graph2 > ul.subtop_chart_note > li > span.tah').text

print(parse_day)

  |  2024.09.11

In [28]:
import re

biz_day = re.findall('[0-9]+', parse_day)
biz_day = ''.join(biz_day)

print(biz_day)

20240911