In [3]:
import pandas as pd
import numpy as np
import riskfolio as rp

pd.options.display.float_format = '{:.4%}'.format

# 가상의 자산 수익률 데이터 생성 (12개의 자산, 1000일의 수익률)
np.random.seed(42)
n_assets = 12
n_obs = 1000

assets = ['AAPL', 'MSFT', 'GOOGL', 'JPM', 'BAC', 'WFC', 'XOM', 'CVX', 'TSLA', 'GE', 'CAT', 'MMM']
returns = np.random.randn(n_obs, n_assets) / 100  # 무작위 수익률 데이터

Y = pd.DataFrame(returns, columns=assets)
display(Y.head())

,AAPL,MSFT,GOOGL,JPM,BAC,WFC,XOM,CVX,TSLA,GE,CAT,MMM
0,0.4967%,-0.1383%,0.6477%,1.5230%,-0.2342%,-0.2341%,1.5792%,0.7674%,-0.4695%,0.5426%,-0.4634%,-0.4657%
1,0.2420%,-1.9133%,-1.7249%,-0.5623%,-1.0128%,0.3142%,-0.9080%,-1.4123%,1.4656%,-0.2258%,0.0675%,-1.4247%
2,-0.5444%,0.1109%,-1.1510%,0.3757%,-0.6006%,-0.2917%,-0.6017%,1.8523%,-0.0135%,-1.0577%,0.8225%,-1.2208%
3,0.2089%,-1.9597%,-1.3282%,0.1969%,0.7385%,0.1714%,-0.1156%,-0.3011%,-1.4785%,-0.7198%,-0.4606%,1.0571%
4,0.3436%,-1.7630%,0.3241%,-0.3851%,-0.6769%,0.6117%,1.0310%,0.9313%,-0.8392%,-0.3092%,0.3313%,0.9755%

In [4]:
import pandas as pd

# 자산과 산업 섹터를 정의
asset_classes = {
    'Assets': ['AAPL', 'MSFT', 'GOOGL', 'JPM', 'BAC', 'WFC', 'XOM', 'CVX', 'TSLA', 'GE', 'CAT', 'MMM'],
    'Industry': ['Tech', 'Tech', 'Tech', 'Finance', 'Finance', 'Finance', 
                 'Energy', 'Energy', 'Industrials', 'Industrials', 'Industrials', 'Industrials']
}

asset_classes = pd.DataFrame(asset_classes)
display(asset_classes)

   Assets     Industry
0    AAPL         Tech
1    MSFT         Tech
2   GOOGL         Tech
3     JPM      Finance
4     BAC      Finance
5     WFC      Finance
6     XOM       Energy
7     CVX       Energy
8    TSLA  Industrials
9      GE  Industrials
10    CAT  Industrials
11    MMM  Industrials

In [5]:
views = {
    'Disabled': [False, False],               # 뷰가 활성화 되어 있음
    'Type': ['Classes', 'Classes'],           # 뷰의 타입은 자산 클래스에 기반
    'Set': ['Industry', 'Industry'],          # 산업 섹터를 기준으로 뷰를 설정
    'Position': ['Tech', 'Energy'],           # Tech 섹터와 Energy 섹터에 대한 뷰를 정의
    'Sign': ['>=', '<='],                     # Tech 섹터는 상대적으로 더 높게, Energy 섹터는 더 낮게 예상
    'Weight': [0.02, -0.01],                  # Tech는 2% 이상, Energy는 1% 이하 수익률 차이를 예상
    'Type Relative': ['Classes', 'Classes'],  # 비교하는 상대도 자산 클래스
    'Relative Set': ['Industry', 'Industry'], # 비교 기준도 산업 섹터
    'Relative': ['Finance', 'Industrials']    # Tech는 Finance와, Energy는 Industrials와 비교
}

views = pd.DataFrame(views)
display(views)

,Disabled,Type,Set,Position,Sign,Weight,Type Relative,Relative Set,Relative
0,False,Classes,Industry,Tech,>=,2.0000%,Classes,Industry,Finance
1,False,Classes,Industry,Energy,<=,-1.0000%,Classes,Industry,Industrials

In [9]:
import riskfolio as rp

# 투자자의 뷰를 기반으로 P와 Q 매트릭스 생성
P, Q = rp.assets_views(views, asset_classes)
display(P)
display(Q)

array([[ 0.33333333,  0.33333333,  0.33333333, -0.33333333, -0.33333333,
        -0.33333333,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ],
       [-0.        , -0.        , -0.        , -0.        , -0.        ,
        -0.        , -0.5       , -0.5       ,  0.25      ,  0.25      ,
         0.25      ,  0.25      ]])

array([[0.02],
       [0.01]])

In [15]:
import numpy as np
import pandas as pd
import riskfolio as rp

# 가상의 자산 수익률 데이터 생성 (12개의 자산, 1000일의 수익률)
np.random.seed(42)
n_assets = 12
n_obs = 2000

assets = ['Asset ' + str(i) for i in range(1, n_assets + 1)]
returns = np.random.randn(n_obs, n_assets) / 100  # 무작위 수익률 데이터

Y = pd.DataFrame(returns, columns=assets)

# 자산 클래스 정의
asset_classes = {
    'Assets': assets,
    'Industry': ['Tech', 'Tech', 'Health', 'Health', 'Energy', 'Energy', 
                 'Finance', 'Finance', 'Utilities', 'Utilities', 'Industrials', 'Industrials']
}

asset_classes = pd.DataFrame(asset_classes)

# 투자자의 뷰 정의
views = {
    'Disabled': [False, False],
    'Type': ['Classes', 'Classes'],
    'Set': ['Industry', 'Industry'],
    'Position': ['Tech', 'Energy'],
    'Sign': ['>=', '<='],
    'Weight': [0.02, -0.01],  # Tech의 예상 초과수익률 2%, Energy의 예상 초과수익률 -1%
    'Type Relative': ['Classes', 'Classes'],
    'Relative Set': ['Industry', 'Industry'],
    'Relative': ['Finance', 'Industrials']
}

views = pd.DataFrame(views)

# P와 Q 매트릭스 생성
P, Q = rp.assets_views(views, asset_classes)

# 뷰 확률을 고려한 가중치 조정
view_probabilities = np.array([0.30, 0.70])  # 첫 번째 뷰 30%, 두 번째 뷰 70%

# P, Q에 각각 확률을 적용
P_weighted = P * view_probabilities.reshape(-1, 1)
Q_weighted = Q * view_probabilities

# 포트폴리오 객체 생성
port = rp.Portfolio(returns=Y)

# 자산 기대 수익률과 공분산 행렬 추정
port.assets_stats(method_mu='hist', method_cov='hist')

# 초기 자산 가중치를 설정
initial_weights = np.array([1/n_assets] * n_assets).reshape(-1, 1)  # 균등 가중치로 초기화

# Black-Litterman 모델에 맞춘 통계값 계산 (mu_bl과 cov_bl 속성에 저장됨)
port.blacklitterman_stats(P_weighted, Q_weighted, rf=0.0, w=initial_weights, delta=None, eq=True)

# 포트폴리오 객체에 저장된 mu_bl과 cov_bl을 사용
port.mu = port.mu_bl
port.cov = port.cov_bl

display(port.mu)
display(port.cov)
display(port.mu_bl)
display(port.cov_bl)

# mu_bl과 returns의 차원 확인 및 조정
if port.mu.shape[0] != returns.shape[1]:
    raise ValueError("mu_bl와 returns의 차원이 일치하지 않습니다.")

# 최적의 포트폴리오 계산 (hist=False로 설정하여 Black-Litterman 통계를 사용)
w_bl = port.optimization(model='Classic', rm='MV', obj='Sharpe', rf=0, l=0, hist=False)

# 최적의 포트폴리오 가중치 출력
print("최적화된 포트폴리오 가중치:")
display(w_bl.T)

,Asset 1,Asset 2,Asset 3,Asset 4,Asset 5,Asset 6,Asset 7,Asset 8,Asset 9,Asset 10,Asset 11,Asset 12
0,0.004985,0.00509,0.000051,0.000014,-0.000947,-0.000894,-0.005021,-0.004840,0.000585,0.000109,0.001113,0.001061
1,0.011606,0.01185,0.000094,0.000006,-0.002236,-0.002110,-0.011742,-0.011316,0.001344,0.000231,0.002566,0.002452

,Asset 1,Asset 2,Asset 3,Asset 4,Asset 5,Asset 6,Asset 7,Asset 8,Asset 9,Asset 10,Asset 11,Asset 12
Asset 1,1.028187e-04,1.609962e-06,-4.568945e-06,-1.561447e-06,-1.756423e-07,1.716433e-06,-8.618076e-07,-1.505055e-06,4.021004e-06,-6.886490e-07,1.727003e-06,-1.022762e-06
Asset 2,1.609962e-06,9.908742e-05,1.943747e-06,1.471744e-06,-4.432859e-07,-4.863292e-07,-3.321097e-06,-4.195769e-06,1.040533e-08,1.773600e-06,2.303819e-06,-6.098297e-07
Asset 3,-4.568945e-06,1.943747e-06,9.914704e-05,-1.694540e-06,2.385866e-06,-4.625626e-07,-6.836990e-07,-1.989200e-06,-4.559902e-06,-7.770425e-07,-7.554222e-07,5.402265e-06
Asset 4,-1.561447e-06,1.471744e-06,-1.694540e-06,9.898748e-05,-3.554890e-06,-5.280574e-07,1.381070e-07,1.868152e-06,6.883567e-07,5.318363e-07,3.661416e-06,5.003981e-07
Asset 5,-1.756423e-07,-4.432859e-07,2.385866e-06,-3.554890e-06,1.032155e-04,-9.900692e-07,-1.777941e-07,-3.884931e-06,-2.481734e-06,-1.438999e-06,2.721680e-06,-1.389849e-06
Asset 6,1.716433e-06,-4.863292e-07,-4.625626e-07,-5.280574e-07,-9.900692e-07,9.662312e-05,-2.186295e-06,-5.307686e-07,-4.290452e-06,-1.911872e-06,7.924755e-07,-3.249154e-06
Asset 7,-8.618076e-07,-3.321097e-06,-6.836990e-07,1.381070e-07,-1.777941e-07,-2.186295e-06,1.049231e-04,1.019482e-06,-3.186679e-06,-1.903988e-07,3.812178e-06,1.858821e-06
Asset 8,-1.505055e-06,-4.195769e-06,-1.989200e-06,1.868152e-06,-3.884931e-06,-5.307686e-07,1.019482e-06,9.886774e-05,-3.464114e-06,-3.788904e-07,1.522879e-06,-3.947837e-07
Asset 9,4.021004e-06,1.040533e-08,-4.559902e-06,6.883567e-07,-2.481734e-06,-4.290452e-06,-3.186679e-06,-3.464114e-06,9.933194e-05,-2.197855e-06,1.078162e-06,-1.450608e-06
Asset 10,-6.886490e-07,1.773600e-06,-7.770425e-07,5.318363e-07,-1.438999e-06,-1.911872e-06,-1.903988e-07,-3.788904e-07,-2.197855e-06,9.569203e-05,1.131503e-07,-2.168362e-06
Asset 11,1.727003e-06,2.303819e-06,-7.554222e-07,3.661416e-06,2.721680e-06,7.924755e-07,3.812178e-06,1.522879e-06,1.078162e-06,1.131503e-07,1.040959e-04,2.433249e-06
Asset 12,-1.022762e-06,-6.098297e-07,5.402265e-06,5.003981e-07,-1.389849e-06,-3.249154e-06,1.858821e-06,-3.947837e-07,-1.450608e-06,-2.168362e-06,2.433249e-06,9.921829e-05

,Asset 1,Asset 2,Asset 3,Asset 4,Asset 5,Asset 6,Asset 7,Asset 8,Asset 9,Asset 10,Asset 11,Asset 12
0,0.004985,0.00509,0.000051,0.000014,-0.000947,-0.000894,-0.005021,-0.004840,0.000585,0.000109,0.001113,0.001061
1,0.011606,0.01185,0.000094,0.000006,-0.002236,-0.002110,-0.011742,-0.011316,0.001344,0.000231,0.002566,0.002452

,Asset 1,Asset 2,Asset 3,Asset 4,Asset 5,Asset 6,Asset 7,Asset 8,Asset 9,Asset 10,Asset 11,Asset 12
Asset 1,1.028187e-04,1.609962e-06,-4.568945e-06,-1.561447e-06,-1.756423e-07,1.716433e-06,-8.618076e-07,-1.505055e-06,4.021004e-06,-6.886490e-07,1.727003e-06,-1.022762e-06
Asset 2,1.609962e-06,9.908742e-05,1.943747e-06,1.471744e-06,-4.432859e-07,-4.863292e-07,-3.321097e-06,-4.195769e-06,1.040533e-08,1.773600e-06,2.303819e-06,-6.098297e-07
Asset 3,-4.568945e-06,1.943747e-06,9.914704e-05,-1.694540e-06,2.385866e-06,-4.625626e-07,-6.836990e-07,-1.989200e-06,-4.559902e-06,-7.770425e-07,-7.554222e-07,5.402265e-06
Asset 4,-1.561447e-06,1.471744e-06,-1.694540e-06,9.898748e-05,-3.554890e-06,-5.280574e-07,1.381070e-07,1.868152e-06,6.883567e-07,5.318363e-07,3.661416e-06,5.003981e-07
Asset 5,-1.756423e-07,-4.432859e-07,2.385866e-06,-3.554890e-06,1.032155e-04,-9.900692e-07,-1.777941e-07,-3.884931e-06,-2.481734e-06,-1.438999e-06,2.721680e-06,-1.389849e-06
Asset 6,1.716433e-06,-4.863292e-07,-4.625626e-07,-5.280574e-07,-9.900692e-07,9.662312e-05,-2.186295e-06,-5.307686e-07,-4.290452e-06,-1.911872e-06,7.924755e-07,-3.249154e-06
Asset 7,-8.618076e-07,-3.321097e-06,-6.836990e-07,1.381070e-07,-1.777941e-07,-2.186295e-06,1.049231e-04,1.019482e-06,-3.186679e-06,-1.903988e-07,3.812178e-06,1.858821e-06
Asset 8,-1.505055e-06,-4.195769e-06,-1.989200e-06,1.868152e-06,-3.884931e-06,-5.307686e-07,1.019482e-06,9.886774e-05,-3.464114e-06,-3.788904e-07,1.522879e-06,-3.947837e-07
Asset 9,4.021004e-06,1.040533e-08,-4.559902e-06,6.883567e-07,-2.481734e-06,-4.290452e-06,-3.186679e-06,-3.464114e-06,9.933194e-05,-2.197855e-06,1.078162e-06,-1.450608e-06
Asset 10,-6.886490e-07,1.773600e-06,-7.770425e-07,5.318363e-07,-1.438999e-06,-1.911872e-06,-1.903988e-07,-3.788904e-07,-2.197855e-06,9.569203e-05,1.131503e-07,-2.168362e-06
Asset 11,1.727003e-06,2.303819e-06,-7.554222e-07,3.661416e-06,2.721680e-06,7.924755e-07,3.812178e-06,1.522879e-06,1.078162e-06,1.131503e-07,1.040959e-04,2.433249e-06
Asset 12,-1.022762e-06,-6.098297e-07,5.402265e-06,5.003981e-07,-1.389849e-06,-3.249154e-06,1.858821e-06,-3.947837e-07,-1.450608e-06,-2.168362e-06,2.433249e-06,9.921829e-05

ValueError: operands could not be broadcast together with shapes (2000,12) (4000,12)